html {
  /* Neutral palette */
  --color-neutral99: hsl(var(--tint-neutral) 99%);
  --color-neutral95: hsl(var(--tint-neutral) 95%);
  --color-neutral90: hsl(var(--tint-neutral) 90%);
  --color-neutral75: hsl(var(--tint-neutral) 75%);
  --color-neutral50: hsl(var(--tint-neutral) 50%);
  --color-neutral30: hsl(var(--tint-neutral) 30%);
  --color-neutral10: hsl(var(--tint-neutral) 10%);

  /* Error palette */
  --tint-error: 8 100%;
  --color-error50: hsl(var(--tint-error) 50%);
  --color-error30: hsl(var(--tint-error) 30%);
  --color-error10: hsl(var(--tint-error) 10%);

  /* Success palette */
  --tint-success: 144 100%;
  --color-success50: hsl(var(--tint-success) 50%);
  --color-success30: hsl(var(--tint-success) 30%);
  --color-success10: hsl(var(--tint-success) 10%);

  /* Focus palette */
  --tint-focus: 44 100%;
  --color-focus50: hsl(var(--tint-focus) 50%);
}

:root {
  color-scheme: light;
  --color-background: var(--color-neutral99);
  --color-on-background: var(--color-neutral10);
  --color-offset: var(--color-neutral95);
  --color-offset-variant: var(--color-neutral90);
  --color-on-offset: var(--color-neutral30);
  --color-outline: var(--color-neutral75);
  --color-outline-variant: var(--color-neutral50);
  --color-primary-on-background: var(--color-primary-on-background-light);

  /* Common color assigments */
  --color-error: var(--color-error50);
  --color-error-variant: var(--color-error30);
  --color-on-error: var(--color-error10);
  --color-success: var(--color-success50);
  --color-success-variant: var(--color-success30);
  --color-on-success: var(--color-success10);
  --color-focus: var(--color-focus50);
  --color-selection: hsl(var(--tint-focus) 50% / 30%);
  --color-shadow: hsl(var(--tint-neutral) 10% / 0.2);

  /* Fluid type scale */
  /* clamp(min=320, preferred, max=1280) */
  --font-size-s: clamp(0.875rem, 0.8334rem + 0.2084vw, 1rem); /* 14 → 16 */
  --font-size-m: clamp(1rem, 0.9167rem + 0.4167vw, 1.25rem); /* 16 → 20 */
  --font-size-l: clamp(1.25rem, 1.1667rem + 0.4167vw, 1.5rem); /* 20 → 24 */
  --font-size-xl: clamp(1.5rem, 1.3333rem + 0.8334vw, 2rem); /* 24 → 32 */
  --font-size-2xl: clamp(1.75rem, 1.5rem + 1.25vw, 2.5rem); /* 28 → 40 */

  /* Typography */
  --font-family-system: system-ui;
  --font-family-monospace: ui-monospace, monospace;
  --line-height-solid: 1;
  --line-height-tight: 1.25;
  --line-height-loose: 1.5;
  --line-height-prose: 1.75;
  --line-measure: 45rem;

  /* Font styles */
  --font-title: 800 var(--font-size-2xl) / var(--line-height-tight)
    var(--font-family-system);
  --font-heading: 600 var(--font-size-xl) / var(--line-height-tight)
    var(--font-family-system);
  --font-subhead: 500 var(--font-size-l) / var(--line-height-tight)
    var(--font-family-system);
  --font-body: 400 var(--font-size-m) / var(--line-height-loose)
    var(--font-family-system);
  --font-label: 600 var(--font-size-m) / var(--line-height-tight)
    var(--font-family-system);
  --font-caption: 400 var(--font-size-s) / var(--line-height-loose)
    var(--font-family-system);
  --font-code: 400 var(--font-size-s) / var(--line-height-tight)
    var(--font-family-monospace);

  /* Borders */
  --border-radius-small: 0.25rem;
  --border-radius-large: 0.5rem;
  --border-width-thin: 1px;
  --border-width-thick: 0.125rem;
  --border-width-thickest: 0.1875rem;

  /* Fluid space scale */
  /* clamp(min=320, preferred, max=1280) */
  --space-2xs: 0.25rem; /* 4 */
  --space-xs: clamp(0.25rem, 0.2rem + 0.25vw, 0.5rem); /* 4 → 8 */
  --space-s: clamp(0.5rem, 0.4167rem + 0.4167vw, 0.75rem); /* 8 → 12 */
  --space-m: clamp(0.75rem, 0.6667rem + 0.41667vw, 1rem); /* 12 → 16 */
  --space-l: clamp(1rem, 0.8334rem + 0.8334vw, 1.5rem); /* 16 → 24 */
  --space-xl: clamp(1.5rem, 1.3333rem + 0.8334vw, 2rem); /* 24 → 32 */

  /* Layout */
  --container-inline-size: min(96vw, var(--container-max-inline-size));
  --container-max-inline-size: 60rem;
}

@media (prefers-color-scheme: dark) {
  :root {
    color-scheme: dark;
    --color-on-background: var(--color-neutral99);
    --color-background: var(--color-neutral10);
    --color-offset: var(--color-neutral30);
    --color-offset-variant: var(--color-neutral50);
    --color-on-offset: var(--color-neutral95);
    --color-outline: var(--color-neutral50);
    --color-outline-variant: var(--color-neutral75);
    --color-primary-on-background: var(--color-primary-on-background-dark);
  }
}

.color-scheme--dark {
  color-scheme: dark;
  --color-on-background: var(--color-neutral99);
  --color-background: var(--color-neutral10);
  --color-offset: var(--color-neutral30);
  --color-offset-variant: var(--color-neutral50);
  --color-on-offset: var(--color-neutral95);
  --color-outline: var(--color-neutral50);
  --color-outline-variant: var(--color-neutral75);
  --color-primary-on-background: var(--color-primary-on-background-dark);
}
