:root {
  /* Colour palette */
  --color-neutral-h: 216;
  --color-neutral-s: 12%;
  --color-neutral-l: 64%;
  --color-neutral-hsl:
    var(--color-neutral-h),
    var(--color-neutral-s),
    var(--color-neutral-l);
  --color-neutral:
    hsl(
      var(--color-neutral-hsl)
    );
  --color-neutral-dark:
    hsl(
      var(--color-neutral-h),
      var(--color-neutral-s),
      calc(var(--color-neutral-l) - 24%)
    );
  --color-neutral-darkest:
    hsl(
      var(--color-neutral-h),
      var(--color-neutral-s),
      calc(var(--color-neutral-l) - 48%)
    );
  --color-neutral-light:
    hsl(
      var(--color-neutral-h),
      var(--color-neutral-s),
      calc(var(--color-neutral-l) + 16%)
    );
  --color-neutral-lightest:
    hsl(
      var(--color-neutral-h),
      var(--color-neutral-s),
      calc(var(--color-neutral-l) + 32%)
    );

  /* Colour assignments */
  --color-background: white;
  --color-offset: var(--color-neutral-lightest);
  --color-shadow: hsl(var(--color-neutral-h) var(--color-neutral-s) 0% / 24%);
  --color-shadow-offset: hsl(var(--color-neutral-h) var(--color-neutral-s) 0% / 6%);
  --color-text: var(--color-neutral-darkest);
  --color-anchor-hover: var(--color-accent-dark);
  --color-highlight: hsl(48 100% 50% / 33%);
  --color-focus: hsl(48 100% 50%);
  --color-error: hsl(0 100% 60%);
  --color-success: hsl(144 100% 50%);
  --color-background-delete: hsl(0 100% 80% / 40%);
  --color-delete: hsl(0 100% 20%);
  --color-background-insert: hsl(120 100% 80% / 50%);
  --color-insert: hsl(120 100% 15%);

  /* Typography */
  --font-family-system: system-ui, -apple-system, sans-serif;
  --font-family-monospace: 'Menlo', 'Consolas', 'Liberation Mono', monospace;
  --font-size-title: calc(1.75rem + 1vw);
  --font-size-heading: calc(1.125rem + 0.5vw);
  --font-size-subhead: calc(1rem + 0.25vw);
  --font-size-body: calc(0.875rem + 0.5vw);
  --font-size-reference: calc(0.75rem + 0.25vw);
  --line-height-solid: 1;
  --line-height-tight: 1.25;
  --line-height-loose: 1.5;
  --line-height-prose: 1.75;
  --line-measure: 45rem;
  --text-spacing: 0.2em 0.4em;
  --word-spacing: 0;

  /* Borders */
  --border-radius-xsmall: 0.125rem;
  --border-radius-small: 0.25rem;
  --border-radius-large: 0.5rem;
  --border-width-thin: 1px;
  --border-width-thick: 0.125rem;
  --border-width-thickest: 0.25rem;

  /* Spacing */
  --space-block: 0.75rem;
  --space-inline: 0.5rem;

  /* Sizing */
  --size-root: 1rem;

  /* Inset spacing */
  --inset-small: var(--space-inline);
  --inset-small-squished: calc(var(--inset-small) / 2) var(--inset-small);
  --inset-large: calc(var(--inset-small) * 2);
  --inset-large-squished: calc(var(--inset-large) / 2) var(--inset-large);

  /* Layout */
  --container-inline-size: 100vw;
  --container-max-inline-size: 60rem;
}

@media (prefers-color-scheme: dark) {
  .color-scheme--automatic {
    @extend %color-scheme-dark;
  }
}

.color-scheme--dark {
  @extend %color-scheme-dark;
}
