:root {
  /* Colour palette */
  --color-neutral-h: 216;
  --color-neutral-s: 12%;
  --color-neutral-l: 64%;
  --color-neutral-hsl: var(--color-neutral-h), var(--color-neutral-s),
    var(--color-neutral-l);
  --color-neutral: hsl(var(--color-neutral-hsl));
  --color-neutral-dark: hsl(
    var(--color-neutral-h),
    var(--color-neutral-s),
    calc(var(--color-neutral-l) - 24%)
  );
  --color-neutral-darkest: hsl(
    var(--color-neutral-h),
    var(--color-neutral-s),
    calc(var(--color-neutral-l) - 48%)
  );
  --color-neutral-light: hsl(
    var(--color-neutral-h),
    var(--color-neutral-s),
    calc(var(--color-neutral-l) + 16%)
  );
  --color-neutral-lightest: hsl(
    var(--color-neutral-h),
    var(--color-neutral-s),
    calc(var(--color-neutral-l) + 32%)
  );

  /* Colour assignments */
  --color-background: white;
  --color-offset: var(--color-neutral-lightest);
  --color-shadow: hsl(var(--color-neutral-h) var(--color-neutral-s) 0% / 24%);
  --color-shadow-offset: hsl(
    var(--color-neutral-h) var(--color-neutral-s) 0% / 6%
  );
  --color-text: var(--color-neutral-darkest);
  --color-anchor: var(--color-accent);
  --color-anchor-hover: var(--color-accent-dark);
  --color-selection: hsl(48 100% 50% / 33%);
  --color-focus: hsl(48 100% 50%);
  --color-error: hsl(0 100% 60%);
  --color-success: hsl(144 100% 50%);

  /* Fluid type scale */
  /* clamp(min=320, preferred, max=1280) */
  --font-size-s: clamp(0.875rem, 0.8334rem + 0.2084vw, 1rem); /* 14 → 16 */
  --font-size-m: clamp(1rem, 0.9167rem + 0.4167vw, 1.25rem); /* 16 → 20 */
  --font-size-l: clamp(1.25rem, 1.1667rem + 0.4167vw, 1.5rem); /* 20 → 24 */
  --font-size-xl: clamp(1.5rem, 1.3333rem + 0.8334vw, 2rem); /* 24 → 32 */
  --font-size-2xl: clamp(1.75rem, 1.5rem + 1.25vw, 2.5rem); /* 28 → 40 */

  /* Typography */
  --font-family-system: system-ui;
  --font-family-monospace: ui-monospace, monospace;
  --line-height-solid: 1;
  --line-height-tight: 1.25;
  --line-height-loose: 1.5;
  --line-height-prose: 1.75;
  --line-measure: 45rem;

  /* Font styles */
  --font-title: 800 var(--font-size-2xl) / var(--line-height-tight)
    var(--font-family-system);
  --font-heading: 600 var(--font-size-xl) / var(--line-height-tight)
    var(--font-family-system);
  --font-subhead: 500 var(--font-size-l) / var(--line-height-tight)
    var(--font-family-system);
  --font-body: 400 var(--font-size-m) / var(--line-height-loose)
    var(--font-family-system);
  --font-label: 600 var(--font-size-m) / var(--line-height-tight)
    var(--font-family-system);
  --font-caption: 400 var(--font-size-s) / var(--line-height-loose)
    var(--font-family-system);
  --font-code: 400 var(--font-size-s) / var(--line-height-tight)
    var(--font-family-monospace);

  /* Borders */
  --border-radius-small: 0.25rem;
  --border-radius-large: 0.5rem;
  --border-width-thin: 1px;
  --border-width-thick: 0.125rem;
  --border-width-thickest: 0.1875rem;

  /* Fluid space scale */
  /* clamp(min=320, preferred, max=1280) */
  --space-2xs: 0.25rem; /* 4 */
  --space-xs: clamp(0.25rem, 0.2rem + 0.25vw, 0.5rem); /* 4 → 8 */
  --space-s: clamp(0.5rem, 0.4167rem + 0.4167vw, 0.75rem); /* 8 → 12 */
  --space-m: clamp(0.75rem, 0.6667rem + 0.41667vw, 1rem); /* 12 → 16 */
  --space-l: clamp(1rem, 0.8334rem + 0.8334vw, 1.5rem); /* 16 → 24 */
  --space-xl: clamp(1.5rem, 1.3333rem + 0.8334vw, 2rem); /* 24 → 32 */

  /* Layout */
  --container-inline-size: min(96vw, var(--container-max-inline-size));
  --container-max-inline-size: 60rem;
}

@media (prefers-color-scheme: dark) {
  .color-scheme--automatic {
    --color-neutral-light: hsl(
      var(--color-neutral-h),
      var(--color-neutral-s),
      calc(var(--color-neutral-l) - 24%)
    );
    --color-neutral-lightest: hsl(
      var(--color-neutral-h),
      var(--color-neutral-s),
      calc(var(--color-neutral-l) - 48%)
    );
    --color-neutral-dark: hsl(
      var(--color-neutral-h),
      var(--color-neutral-s),
      calc(var(--color-neutral-l) + 16%)
    );
    --color-neutral-darkest: hsl(
      var(--color-neutral-h),
      var(--color-neutral-s),
      calc(var(--color-neutral-l) + 32%)
    );

    --color-background: black;
    --color-anchor: var(--color-accent-light);
    --color-anchor-hover: var(--color-accent-lightest);
  }
}

.color-scheme--dark {
  --color-neutral-light: hsl(
    var(--color-neutral-h),
    var(--color-neutral-s),
    calc(var(--color-neutral-l) - 24%)
  );
  --color-neutral-lightest: hsl(
    var(--color-neutral-h),
    var(--color-neutral-s),
    calc(var(--color-neutral-l) - 48%)
  );
  --color-neutral-dark: hsl(
    var(--color-neutral-h),
    var(--color-neutral-s),
    calc(var(--color-neutral-l) + 16%)
  );
  --color-neutral-darkest: hsl(
    var(--color-neutral-h),
    var(--color-neutral-s),
    calc(var(--color-neutral-l) + 32%)
  );

  --color-background: black;
  --color-anchor: var(--color-accent-light);
  --color-anchor-hover: var(--color-accent-lightest);
}
