html {
  /* Neutral palette */
  --color-neutral99: hsl(var(--tint-neutral) 99%);
  --color-neutral95: hsl(var(--tint-neutral) 95%);
  --color-neutral90: hsl(var(--tint-neutral) 90%);
  --color-neutral70: hsl(var(--tint-neutral) 70%);
  --color-neutral50: hsl(var(--tint-neutral) 50%);
  --color-neutral30: hsl(var(--tint-neutral) 30%);
  --color-neutral20: hsl(var(--tint-neutral) 20%);
  --color-neutral10: hsl(var(--tint-neutral) 10%);

  /* Red palette */
  --tint-red: 8 100%;
  --color-red90: hsl(var(--tint-red) 90%);
  --color-red45: hsl(var(--tint-red) 45%);
  --color-red30: hsl(var(--tint-red) 30%);
  --color-red10: hsl(var(--tint-red) 10%);

  /* Purple palette */
  --tint-purple: 270 100%;
  --color-purple90: hsl(var(--tint-purple) 90%);
  --color-purple45: hsl(var(--tint-purple) 45%);
  --color-purple10: hsl(var(--tint-purple) 10%);

  /* Green palette */
  --tint-green: 144 100%;
  --color-green90: hsl(var(--tint-green) 90%);
  --color-green50: hsl(var(--tint-green) 50%);
  --color-green30: hsl(var(--tint-green) 30%);
  --color-green10: hsl(var(--tint-green) 10%);

  /* Yellow palette */
  --tint-yellow: 44 100%;
  --color-yellow90: hsl(var(--tint-yellow) 90%);
  --color-yellow50: hsl(var(--tint-yellow) 50%);
  --color-yellow10: hsl(var(--tint-yellow) 10%);
}

:root {
  --color-background: var(--color-neutral99);
  --color-on-background: var(--color-neutral10);
  --color-offset: var(--color-neutral95);
  --color-offset-variant: var(--color-neutral90);
  --color-on-offset: var(--color-neutral30);
  --color-outline: var(--color-neutral70);
  --color-outline-variant: var(--color-neutral50);
  --color-primary-on-background: var(--color-primary-on-background-light);

  /* Common color assigments */
  --color-error: var(--color-red45);
  --color-error-variant: var(--color-red30);
  --color-on-error: var(--color-neutral99);
  --color-success: var(--color-green50);
  --color-success-variant: var(--color-green30);
  --color-on-success: var(--color-green10);
  --color-notification: var(--color-purple45);
  --color-on-notification: var(--color-neutral99);
  --color-focus: var(--color-yellow50);
  --color-on-focus: var(--color-on-background);
  --color-selection: hsl(var(--tint-yellow) 50% / 30%);
  --color-shadow: hsl(var(--tint-neutral) 10% / 0.2);

  /* Fluid type scale */
  /* clamp(min=320, preferred, max=960) */
  --font-size-s: clamp(0.875rem, 0.8125rem + 0.3125vw, 1rem); /* 14 → 16 */
  --font-size-m: clamp(1rem, 0.875rem + 0.625vw, 1.25rem); /* 16 → 20 */
  --font-size-l: clamp(1.125rem, 0.9375rem + 0.9375vw, 1.5rem); /* 18 → 24 */
  --font-size-xl: clamp(1.25rem, 1rem + 1.25vw, 1.75rem); /* 20 → 28 */
  --font-size-2xl: clamp(1.5rem, 1rem + 2.5vw, 2.5rem); /* 24 → 40 */

  /* Typography */
  --font-family-system: system-ui;
  --font-family-sans: mona-sans, sans-serif;
  --font-family-monospace: ui-monospace, monospace;
  --line-height-solid: 1;
  --line-height-tight: 1.25;
  --line-height-loose: 1.6;
  --line-height-prose: 1.75;
  --line-measure: 48rem;
  --text-thickness: 0.0625em;

  /* Font styles */
  --font-title: 750 expanded var(--font-size-2xl) / var(--line-height-tight)
    var(--font-family-sans);
  --font-heading: 600 var(--font-size-xl) / var(--line-height-tight)
    var(--font-family-sans);
  --font-subhead: 500 var(--font-size-l) / var(--line-height-tight)
    var(--font-family-sans);
  --font-body: 425 var(--font-size-m) / var(--line-height-loose)
    var(--font-family-sans);
  --font-label: 600 var(--font-size-m) / var(--line-height-tight)
    var(--font-family-sans);
  --font-caption: 400 var(--font-size-s) / var(--line-height-loose)
    var(--font-family-sans);
  --font-code: 400 var(--font-size-s) / var(--line-height-loose)
    var(--font-family-monospace);

  /* Borders */
  --border-radius-small: 0.25rem;
  --border-radius-large: 0.5rem;
  --border-width-thin: 1px;
  --border-width-thick: 2px;
  --border-width-thickest: 3px;

  /* Input borders */
  --input-border-width: var(--border-width-thick);
  --input-border-width-focus: var(--border-width-thickest);
  --input-border-width-focus-offset: 1px;

  /* Box shadows */
  --focus-width: 0.25rem;

  /* Fluid space scale */
  /* clamp(min=320, preferred, max=960) */
  --space-2xs: 0.25rem; /* 4 */
  --space-xs: clamp(0.25rem, 0.125rem + 0.625vw, 0.5rem); /* 4 → 8 */
  --space-s: clamp(0.5rem, 0.375rem + 0.625vw, 0.75rem); /* 8 → 12 */
  --space-m: clamp(0.75rem, 0.625rem + 0.625vw, 1rem); /* 12 → 16 */
  --space-l: clamp(1rem, 0.75rem + 1.25vw, 1.5rem); /* 16 → 24 */
  --space-xl: clamp(1.5rem, 1.25rem + 1.25vw, 2rem); /* 24 → 32 */

  /* Layout */
  --container-padding-inline: var(--space-l);
  --container-inline-size: min(96vw, var(--container-max-inline-size));
  --container-max-inline-size: 75rem;

  color-scheme: light dark;
}

@media (prefers-color-scheme: dark) {
  :root:not([data-color-scheme]) {
    --color-on-background: var(--color-neutral99);
    --color-background: var(--color-neutral10);
    --color-offset: var(--color-neutral20);
    --color-offset-variant: var(--color-neutral30);
    --color-on-offset: var(--color-neutral95);
    --color-outline: var(--color-neutral50);
    --color-outline-variant: var(--color-neutral70);
    --color-primary-on-background: var(--color-primary-on-background-dark);
  }
}

[data-color-scheme="dark"] {
  --color-on-background: var(--color-neutral99);
  --color-background: var(--color-neutral10);
  --color-offset: var(--color-neutral20);
  --color-offset-variant: var(--color-neutral30);
  --color-on-offset: var(--color-neutral95);
  --color-outline: var(--color-neutral50);
  --color-outline-variant: var(--color-neutral70);
  --color-primary-on-background: var(--color-primary-on-background-dark);
}
