/* Focus */
%focus {
  border-radius: var(--border-radius-small);
  box-shadow: 0 0 0 var(--border-width-thickest) var(--color-focus);
  outline: 0;
  text-decoration: none;
}

/* Color scheme */
%color-scheme-dark {
  /* Colour palette */
  --color-neutral-light: hsl(
    var(--color-neutral-h),
    var(--color-neutral-s),
    calc(var(--color-neutral-l) - 24%)
  );
  --color-neutral-lightest: hsl(
    var(--color-neutral-h),
    var(--color-neutral-s),
    calc(var(--color-neutral-l) - 48%)
  );
  --color-neutral-dark: hsl(
    var(--color-neutral-h),
    var(--color-neutral-s),
    calc(var(--color-neutral-l) + 16%)
  );
  --color-neutral-darkest: hsl(
    var(--color-neutral-h),
    var(--color-neutral-s),
    calc(var(--color-neutral-l) + 32%)
  );

  /* Colour assignments */
  --color-background: black;
  --color-anchor: var(--color-accent-light);
  --color-anchor-hover: var(--color-accent-lightest);
}
