/* Typographic presets */
%title {
  font-size: var(--step-3);
  font-weight: 800;
  hanging-punctuation: first;
  letter-spacing: 0;
  line-height: var(--line-height-tight);
}

%heading {
  --flow-space: 1em;

  font-size: var(--step-1);
  font-weight: 600;
  hanging-punctuation: first;
  letter-spacing: 0;
  line-height: var(--line-height-tight);
}

%lede {
  --flow-space: 1em;

  font-size: var(--step-1);
  hanging-punctuation: first;
  line-height: var(--line-height-loose);
}

%subhead {
  --flow-space: 1em;

  font-size: var(--step-0);
  font-weight: 500;
  hanging-punctuation: first;
  letter-spacing: 0;
  line-height: var(--line-height-tight);
}

%body {
  --flow-space: 1em;

  font-size: var(--step-0);
  font-variant: oldstyle-nums;
  hanging-punctuation: first;
  hyphens: auto;
  line-height: var(--line-height-loose);
  word-spacing: var(--word-spacing);
}

%label {
  --flow-space: 1em;

  font-size: var(--step-0);
  font-variant: oldstyle-nums;
  font-weight: 600;
  hanging-punctuation: first;
  hyphens: auto;
  line-height: var(--line-height-tight);
  word-spacing: var(--word-spacing);
}

%caption {
  --flow-space: 1em;

  font-size: var(--step--1);
  font-variant: tabular-nums;
  line-height: var(--line-height-loose);
}

/* Focus */
%focus {
  border-radius: var(--border-radius-small);
  box-shadow: 0 0 0 var(--border-width-thickest) var(--color-focus);
  outline: 0;
  text-decoration: none;
}

/* Layout */
%container {
  inline-size: var(--container-inline-size);
  margin-inline-end: auto;
  margin-inline-start: auto;
  max-inline-size: var(--container-max-inline-size);
  padding: var(--container-padding-block, var(--space-block))
    var(--container-padding-inline, var(--step-0));
}

/* Color scheme */
%color-scheme-dark {
  /* Colour palette */
  --color-neutral-light: hsl(
    var(--color-neutral-h),
    var(--color-neutral-s),
    calc(var(--color-neutral-l) - 24%)
  );
  --color-neutral-lightest: hsl(
    var(--color-neutral-h),
    var(--color-neutral-s),
    calc(var(--color-neutral-l) - 48%)
  );
  --color-neutral-dark: hsl(
    var(--color-neutral-h),
    var(--color-neutral-s),
    calc(var(--color-neutral-l) + 16%)
  );
  --color-neutral-darkest: hsl(
    var(--color-neutral-h),
    var(--color-neutral-s),
    calc(var(--color-neutral-l) + 32%)
  );

  /* Colour assignments */
  --color-background: black;
  --color-shadow: hsl(var(--color-neutral-h) var(--color-neutral-s) 100% / 24%);
  --color-anchor-hover: var(--color-accent-lightest);

  /* Typography */
  --word-spacing: 0.05em;
}
