@font-face {
  font-family: mona-sans;
  font-stretch: 75% 125%;
  font-weight: 200 900;
  src:
    url("mona-sans.woff2") format("woff2 supports variations"),
    url("mona-sans.woff2") format("woff2-variations");
}
