.tokenfield {
  --anchor-decoration-line: none;
  position: relative;

  & > * {
    --fieldset-flow-space: 0;
  }
}

.tokenfield-input {
  background: none;
  border: none;
  color: var(--color-on-offset);
  flex-basis: 10%;
  flex-grow: 999;
  flex-shrink: 1;
  padding: 0;

  &:focus {
    box-shadow: none;
  }
}

.tokenfield-mode-tokens {
  background-color: var(--color-background);
  border: var(--input-border-width) solid var(--color-outline);
  border-radius: var(--border-radius-small);
  display: flex;
  flex-wrap: wrap;
  gap: var(--space-2xs);
  inline-size: 100%;
  margin-block-end: var(--input-border-width-focus-offset);
  min-height: calc(var(--space-xs) + 2rem);
  padding: var(--space-xs);

  &.focused {
    border-color: var(--color-on-background);
    border-width: var(--input-border-width-focus);
    box-shadow: 0 0 0 var(--focus-width) var(--color-focus);
    inset-block-start: calc(var(--input-border-width-focus-offset) * -1);
    margin-block-end: calc(var(--input-border-width-focus-offset) * -2);
    padding-inline: calc(
      var(--space-xs) - var(--input-border-width-focus-offset)
    );
  }

  &[disabled],
  &[readonly] {
    background: var(--color-offset);
    color: var(--color-on-offset);
  }

  &[disabled] {
    cursor: not-allowed;
  }

  & .selected {
    background: var(--color-primary);
    color: var(--color-on-primary);
  }

  & .focused {
    background: var(--color-selection);
  }

  & .focused:hover {
    background: var(--color-focus);
  }
}

.tokenfield-suggest {
  background-color: var(--color-background);
  border: var(--border-width-thick) solid var(--color-outline-variant);
  border-radius: var(--border-radius-small);
  box-shadow: 0 6px 12px var(--color-shadow);
  box-sizing: content-box;
  inline-size: 100%;
  inset-block-start: calc(100% - var(--border-width-thick));
  inset-inline-start: calc(var(--border-width-thick) * -1);
  overflow: auto;
  position: absolute;
  z-index: 10;

  & > ul {
    list-style: none;
    padding: 0;
  }

  & > ul > li {
    cursor: pointer;
    padding-block: calc(var(--space-s) / 2);
    padding-inline: var(--space-s);
  }
}

.tokenfield-set {
  flex-grow: 1;
  flex-shrink: 1;
  min-inline-size: min-content;

  & > ul {
    display: flex;
    flex-wrap: wrap;
    gap: var(--space-2xs);
    list-style: none;
    padding: 0;
  }

  & > ul > li {
    background: var(--color-offset);
    border-radius: var(--border-radius-small);
    color: var(--color-on-background);
    cursor: pointer;
  }

  & > ul > li:hover {
    background: var(--color-offset-variant);
  }

  & .item-label {
    padding-inline-start: var(--space-xs);
  }

  & .item-remove {
    color: currentcolor;
    cursor: pointer;
    display: inline-block;
    font-weight: 600;
    opacity: 0.5;
    padding-inline: var(--space-xs);
  }

  & .item-remove:hover {
    opacity: 1;
  }
}
