.logo {
  display: block;
  padding: var(--space-s);
}

.logo img {
  opacity: 0.25;
}

.logo:hover img {
  opacity: 0.5;
}

@media (prefers-color-scheme: dark) {
  .logo {
    filter: invert(100%);
  }
}

.color-scheme--dark {
  & .token {
    filter: invert(100%);
  }
}
