.card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(12rem, 1fr));
  grid-gap: var(--space-l);
}

.card-grid__item {
  --icon-margin: var(--space-s);
  background-color: var(--color-offset);
  border-radius: var(--border-radius-small);
  color: var(--color-on-offset);
  display: flex;
  flex-direction: column;
  position: relative;

  &:hover {
    background-color: var(--color-offset-variant);
  }
}

.card__image {
  border-start-end-radius: var(--border-radius-small);
  border-start-start-radius: var(--border-radius-small);
  overflow: hidden;
}

.card__body {
  padding: var(--space-s);
}

.card__title {
  --anchor-decoration-line: none;
  font: var(--font-label);
}

.card__title a {
  &::before {
    content: "";
    border-radius: var(--border-radius-small);
    display: block;
    position: absolute;
    inset: 0;
  }

  &:focus {
    box-shadow: none;
  }

  &:focus::before {
    box-shadow: 0 0 0 var(--focus-width) var(--color-focus);
  }
}

.card__meta {
  font: var(--font-caption);
  margin-block-start: var(--space-2xs);
}
