.section__header {
  align-items: baseline;
  display: flex;
  flex-wrap: wrap;
  gap: var(--space-s);
  justify-content: space-between;
  padding-block-end: var(--space-s);
}

.section__title {
  font: var(--font-heading);
}
