.file-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(16rem, 1fr));
  grid-gap: var(--space-gap);
  list-style: none;
  padding-inline-start: 0;
}

.file-grid__item {
  aspect-ratio: 1;
  margin: 0;
}

.file-grid__item img,
.file-grid__item video {
  background-color: var(--color-offset);
  border-radius: var(--border-radius-small);
  block-size: 100%;
  display: block;
  inline-size: 100%;
  object-fit: cover;
}

.file-grid__item video {
  background-color: black;
}

.file-grid__item img.not-found {
  object-fit: none;
}
