# Logs
logs
*.log
npm-debug.log*

# Testing and coverage
coverage

# Dependencies
node_modules/
vendor

# Documentation
_site
.sass-cache
.jekyll-cache
.jekyll-metadata

# Environment variables
*.env
