# Logs
logs
*.log
npm-debug.log*

# Testing and coverage
coverage
tmp

# Dependencies
node_modules/
vendor

# Documentation
docs/.vitepress/dist

# Environment variables
*.env

# Localisation keys
localazy.keys.json
