# Logs
logs
*.log
npm-debug.log*

# Testing and coverage
coverage
tmp

# Dependencies
node_modules/

# Documentation
_site
docs/.cache

# Environment variables
*.env
.envrc

# Localisation keys
localazy.keys.json

.devenv/
.devenv.flake.nix
devenv.local.nix

.direnv/

.pre-commit-config.yaml
