.actions {
  --anchor-decoration-color: transparent;
  --icon-margin: var(--space-2xs);
  font: var(--font-caption);

  & a {
    margin: calc(var(--space-s) * -1);
    padding: var(--space-s);
    white-space: nowrap;
  }
}

.actions__list {
  display: flex;
  flex-wrap: wrap;
  gap: var(--space-2xs) var(--space-l);
}

.actions__link--warning {
  --anchor-color: var(--color-error);
  --anchor-color-hover: var(--color-error-variant);
}
