.authorize:has(.authorize__client-icon) {
  min-block-size: 4rem;
}

.authorize a {
  font-weight: 600;
}

.authorize__client-icon {
  background-color: var(--color-neutral-light);
  border-radius: var(--border-radius-small);
  box-shadow: inset 0 0 0 1px var(--color-shadow);
  float: inline-start;
  margin-inline-end: var(--space-inline);
  padding: 0.5rem;
  block-size: 4rem;
  inline-size: 4rem;
}
