.article {
  @extend %container;

  --container-padding-block: var(--step-0);
}

.article__title {
  @extend %title;

  max-inline-size: var(--line-measure);
}

.article__parent {
  @extend %body;

  color: var(--color-neutral-dark);
  display: block;
  font-weight: normal;
}

.article__body {
  @extend %body;

  --flow-inset: 1.25em;
  --list-display: list-item;

  margin-block-start: var(--step-3);
}
