.field {
  & + .field {
    margin-block-start: var(--space-l);
  }

  &:has(.input[type="hidden"]) {
    display: none;
  }

  & > *:not(.-\!-visually-hidden) + * {
    margin-block-start: var(--space-xs);
  }
}

.field--error {
  border-inline-start: var(--color-error) solid var(--border-width-thickest);
  padding-inline-start: var(--space-m);
}
