.field {
  &:has([type="hidden"]) {
    display: none;
  }

  & > * + * {
    margin-block-start: var(--space-xs);
  }
}

.field--error {
  border-inline-start: var(--color-error) solid var(--border-width-thickest);
  padding-inline-start: var(--space-m);
}
