.summary__row {
  align-items: baseline;
  border-block-start: var(--color-outline) solid var(--border-width-thin);
  display: flex;
  flex-wrap: wrap;
  gap: var(--space-xs);
  justify-content: end;
  padding-block: var(--space-s);
}

.summary__key {
  align-self: start;
  flex-basis: 12rem;
  flex-grow: 1;
  font: var(--font-label);
  line-height: var(--line-height-loose);
}

.summary__value {
  --flow-inset: 0;
  --flow-space: var(--space-s);
  flex-basis: 0;
  flex-grow: 999;
  font: var(--font-body);
  min-inline-size: 50%;
}

.summary__value a {
  white-space: nowrap;
}

.summary__value pre {
  background: none;
  padding: 0;
}

.summary__value code {
  word-break: break-word;
}

.summary__value small code {
  margin-inline-start: var(--space-2xs);
}

.summary__note {
  color: var(--color-on-offset);
  font: var(--font-caption);
}
