.summary {
  --flow-inset: 0;

  margin-block-start: calc(var(--flow-space) * 1.5);
  max-inline-size: unset;
}

.summary__header {
  align-items: baseline;
  display: flex;
  justify-content: space-between;
  padding-block-end: var(--space-block);
}

.summary__title {
  @extend %heading;
}

.summary__title svg {
  position: relative;
  top: -2px;
}

.summary * + * {
  margin-block-start: 0;
}

.summary__row {
  border-block-start-color: var(--color-neutral-light);
  border-block-start-style: solid;
  border-block-start-width: var(--border-width-thin);
  display: flex;
  flex-wrap: wrap;
  line-height: var(--line-height-tight);
  padding-block-end: calc(var(--space-block) * 2);
  padding-block-start: calc(var(--space-block) / 2);
}

.summary__key {
  @extend %label;

  flex: 1;
  max-inline-size: 33%;
  min-inline-size: 15rem;
  padding-inline-end: var(--space-inline);
}

.summary__value {
  color: var(--color-neutral-dark);
  flex: 2;
  min-inline-size: 30rem;
  word-break: break-word;
}

.summary__value > * {
  margin-block-start: 0;
}

.summary__value a {
  white-space: nowrap;
}

.summary__value img {
  display: inline;
  vertical-align: text-bottom;
  margin-inline-end: 5px;
}

.summary__actions {
  margin-inline-start: auto;
}

.summary__note {
  @extend %caption;

  color: var(--color-neutral-dark);
}
