.summary {
  --flow-inset: 0;

  margin-block-end: var(--space-block-large);
  max-inline-size: unset;
}

.summary__header {
  align-items: baseline;
  display: flex;
  justify-content: space-between;
  padding-block-end: calc(var(--space-block) * 2);
}

.summary__title {
  @extend %subhead;
}

.summary * + * {
  margin-block-start: 0;
}

.summary__row {
  border-block-start-color: var(--color-neutral-light);
  border-block-start-style: solid;
  border-block-start-width: var(--border-width-thin);
  display: flex;
  flex-wrap: wrap;
  line-height: var(--line-height-tight);
  padding-block-end: calc(var(--space-block) * 2);
  padding-block-start: var(--space-block);
}

.summary__key {
  flex: 1;
  max-inline-size: 33%;
  min-inline-size: 15rem;
  padding-inline-end: var(--space-inline);
}

.summary__value {
  color: var(--color-neutral-dark);
  flex: 2;
  min-inline-size: 30rem;
  word-break: break-word;
}

.summary__actions {
  margin-inline-start: auto;
}
