.header {
  background-color: var(--color-background);
  border-bottom: var(--border-width-thin) solid var(--color-neutral-lightest);
  display: flex;
}

.header a {
  align-items: center;
  display: inline-flex;
  margin-inline-end: calc(var(--space-inline) * -1);
  margin-inline-start: calc(var(--space-inline) * -1);
  padding: var(--inset-small-squished);
}

.header a + a {
  margin-inline-start: var(--space-inline);
}

.header__container {
  @extend %container;

  --container-padding-block: var(--step-0);

  align-items: center;
  display: flex;
  flex-wrap: wrap;
}

.header__title {
  align-items: center;
  display: inline-flex;
  font-weight: 800;
  margin-inline-end: auto;
}
