.header {
  --anchor-color-hover: var(--color-primary-on-background);
  --anchor-decoration-line: none;
  background-color: var(--color-offset);
  color: var(--color-on-offset);
  display: flex;
}

.header__container {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  inline-size: var(--container-inline-size);
  margin-inline: auto;
  max-inline-size: var(--container-max-inline-size);
  padding: var(--space-l);
}

.header__title {
  align-items: center;
  display: inline-flex;
  font-weight: 800;
  margin-inline-end: auto;
}
