.button {
  background-color: var(--color-neutral-dark);
  border-radius: var(--border-radius-small);
  color: var(--color-background);
  display: inline-block;
  padding: var(--inset-large-squished);
}

.button:focus {
  @extend %focus;
}

.button:hover {
  background-color: var(--color-accent);
  color: var(--color-background);
}
