.button,
::file-selector-button {
  --anchor-decoration-line: none;
  --icon-size: 1.5em;
  align-items: center;
  background-color: var(
    --button-background-color,
    var(--color-primary-variant)
  );
  border: var(--border-width-thick) solid transparent;
  border-block-end-color: var(--color-shadow);
  border-radius: var(--border-radius-small);
  color: var(--button-color, var(--color-on-primary));
  display: inline-block;
  font: var(--button-font, var(--font-label));
  font-weight: var(--button-font-weight, 500);
  justify-content: center;
  line-height: var(--line-height-loose);
  padding-block: calc(var(--button-padding, var(--space-m)) / 2);
  padding-inline: var(--button-padding, var(--space-m));
}

.button--secondary,
::file-selector-button {
  --button-color: var(--color-on-offset);
  --button-background-color: var(--color-offset-variant);
  --button-background-hover-color: var(--color-offset);
  --button-font-weight: normal;
}

.button:hover,
::file-selector-button:hover {
  background-color: var(--button-background-hover-color, var(--color-primary));
}

.button--secondary-on-offset {
  --button-color: var(--color-on-background);
  --button-background-color: var(--color-background);

  &:hover {
    background-color: var(--color-offset-variant);
  }
}

.button--warning {
  background-color: var(--color-error);

  &:hover {
    background-color: var(--color-error-variant);
  }
}

.button--small {
  --button-padding: var(--space-s);
  --button-font: var(--font-caption);
  --button-font-weight: 500;
}

.button--block {
  display: flex;
  inline-size: 100%;
}

.button--inline {
  --icon-margin: 0;
  --icon-size: 2em;
  display: flex;
  flex-direction: column;
  gap: var(--space-3xs);
  padding-block: var(--space-m);
}

.button-grid {
  display: grid;
  gap: var(--space-xs);
  grid-template-columns: repeat(auto-fill, minmax(6em, 1fr));
}

.button-group {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  gap: var(--space-m);
  text-align: center;

  @media (--upto-small-viewport) {
    & > * {
      inline-size: 100%;
    }
  }
}
