.file-list {
  display: flex;
  flex-direction: column;
  gap: var(--space-l);
}

.file-list__item {
  --icon-size: 2rem;
  --icon-margin: var(--space-xs);
  color: var(--color-on-offset);
  display: flex;
}

.file__title {
  font: var(--font-label);
}

.file__meta {
  font: var(--font-caption);
  margin-block-start: var(--space-2xs);
}
