.file__title {
  --flow-space: 0;

  @extend %label;
}

.file__title svg {
  margin-inline-end: var(--space-inline);
  block-size: 1.2em;
  inline-size: 1.2em;
}

.file__meta {
  @extend %caption;

  color: var(--color-neutral-dark);
  margin-block-start: 0;
  margin-inline-start: calc(24px + var(--space-inline));
}
