.file-list {
  display: flex;
  gap: var(--space-l);
  flex-direction: column;
}

.file-list__item {
  --flow-space: 0;
}

.file__title {
  font: var(--font-label);
}

.file__title svg {
  block-size: 1.2em;
  inline-size: 1.2em;
}

.file__meta {
  color: var(--color-on-offset);
  font: var(--font-caption);
  margin-inline-start: calc(24px + var(--space-xs));
}
