.preview {
  --flow-space: 0.5rem;

  background-color: var(--color-neutral-lightest);
  border-radius: var(--border-radius-small);
  padding: var(--inset-small-squished);
}

.preview * + * {
  margin-block-start: var(--space-block);
}

.preview output.empty {
  color: var(--color-neutral-light);
}

.preview__title {
  @extend %subhead;
}

.preview__body,
.preview__href {
  @extend %body;
}

.preview__date {
  @extend %caption;
}
