.preview {
  background-color: var(--color-neutral-lightest);
  border-radius: var(--border-radius-small);
  padding: var(--inset-small);
}

.preview output.placeholder {
  color: var(--color-neutral-light);
}

.preview__title {
  @extend %heading;
}

.preview__text,
.preview__url {
  @extend %body;
}

.preview__text {
  min-block-size: 4rem;
}

.preview__date {
  @extend %caption;

  color: var(--color-neutral-dark);
}
