.preview {
  --flow-space: 0.5rem;

  background-color: var(--color-neutral-lightest);
  border-radius: var(--border-radius-small);
  padding: var(--inset-small);
}

.preview * + * {
  margin-block-start: var(--space-block);
}

.app--minimalui .preview {
  margin-block-start: 0;
}

.preview output.empty {
  color: var(--color-neutral-light);
}

.preview__title {
  @extend %heading;
}

.preview__body,
.preview__href {
  @extend %body;
}

.preview__body {
  min-block-size: 4rem;
}

.preview__date {
  @extend %caption;

  color: var(--color-neutral-dark);
}
