.preview {
  background-color: var(--color-offset);
  border-radius: var(--border-radius-small);
  color: var(--color-on-offset);
  padding: var(--space-m);

  & output.placeholder {
    opacity: 0.5;
  }

  & > * + * {
    margin-block-start: var(--space-xs);
  }
}

.preview__title {
  font: var(--font-heading);
}

.preview__text,
.preview__url {
  font: var(--font-body);
}

.preview__text {
  --flow-space: var(--space-2xs);
  display: flex;
  min-block-size: 4rem;
  white-space: pre-line;
}

.preview__date {
  color: var(--color-on-offset);
  font: var(--font-caption);
}
