.heading {
  align-items: end;
  display: flex;
  flex-wrap: wrap;
  gap: var(--space-s);

  & .actions {
    margin-block-end: var(--space-2xs);
    margin-inline-start: auto;
  }
}

.heading__photo {
  --icon-size: 5em;
  --icon-margin: 0;
}

.heading__title {
  font: var(--font-title);
  max-inline-size: var(--line-measure);
}

.heading__parent {
  --anchor-decoration-color: var(--color-shadow);
  color: var(--color-on-offset);
  display: block;
  font: var(--font-body);
  max-width: max-content;
}
