.label {
  display: block;
  font: var(--label-font, var(--font-label));
  margin-block-end: var(--space-xs);
}

.label__title {
  --label-font: var(--font-title);
  max-inline-size: var(--line-measure);
}
