.checkboxes {
  --checkbox-size: 1.5em;
  --check-size: 0.875em;
  --touch-target-size: 44px;
}

.checkboxes__item {
  display: block;
  margin-block-end: var(--space-m);
  min-block-size: var(--checkbox-size);
  padding-inline-start: calc(var(--checkbox-size) + var(--space-s));
  position: relative;
}

.checkboxes__item:last-child,
.checkboxes__item:last-of-type {
  margin-block-end: 0;
}

.checkboxes__input {
  --input-offset: calc(
    calc(var(--touch-target-size) - var(--checkbox-size)) / 2
  );
  cursor: pointer;
  inset: calc(var(--input-offset) * -1);
  inline-size: var(--touch-target-size);
  block-size: var(--touch-target-size);
  margin: 0;
  opacity: 0;
  position: absolute;
  z-index: 1;
}

.checkboxes__label.label {
  align-items: center;
  cursor: pointer;
  display: inline-flex;
  font-weight: normal;
  margin-block-start: 0;
  min-block-size: var(--checkbox-size);
  touch-action: manipulation; /* remove 300ms pause on mobile */
}

/* [ ] Checkbox */
.checkboxes__label:before {
  background: transparent;
  block-size: var(--checkbox-size);
  border: var(--border-width-thick) solid var(--color-outline);
  border-radius: var(--border-radius-small);
  content: "";
  inline-size: var(--checkbox-size);
  inset: 0;
  position: absolute;
}

/* ✔ Check */
.checkboxes__label:after {
  content: "";
  background: transparent;
  block-size: calc(var(--check-size) / 2);
  border: solid;
  border-block-start-color: transparent;
  border-width: 0 0 var(--border-width-thickest) var(--border-width-thickest);
  inset-block-start: calc(
    calc(var(--checkbox-size) - var(--check-size)) / 1.25
  );
  inset-inline-start: calc(calc(var(--checkbox-size) - var(--check-size)) / 2);
  inline-size: var(--check-size);
  opacity: 0;
  position: absolute;
  transform: rotate(-45deg);
}

.checkboxes .checkboxes__hint {
  display: block;
  margin-block-start: 0;
}

/* Focused state */
.checkboxes__input:focus + .checkboxes__label:before {
  border-color: var(--color-outline-variant);
  box-shadow: 0 0 0 var(--border-width-thickest) var(--color-focus);
  outline: var(--focus-width) solid transparent;
  outline-offset: var(--border-width-thin);
}

@media screen and (forced-colors: active) {
  .checkboxes__input:focus + .checkboxes__label:before {
    outline-color: Highlight;
  }
}

/* Selected state */
.checkboxes__input:checked + .checkboxes__label:after {
  opacity: 1;
}

/* Disabled state */
.checkboxes__input:disabled,
.checkboxes__input:disabled + .checkboxes__label {
  cursor: default;
}

.checkboxes__input:disabled + .checkboxes__label,
.checkboxes__input:disabled ~ .hint {
  opacity: 0.5;
}

/* Divider (‘or’) */
.checkboxes__divider {
  inline-size: var(--checkbox-size);
  margin-block-end: var(--checkbox-size);
  text-align: center;
}

.checkboxes__fieldset.fieldset {
  font: var(--font-label);
}
