.checkboxes {
  --checkbox-size: 1.5em;
  --check-size: 0.875em;
  --fieldset-flow-space: 0;
  --touch-target-size: 44px;
}

.checkboxes__item {
  display: block;
  margin-block-end: var(--space-m);
  min-block-size: var(--checkbox-size);
  padding-inline-start: calc(var(--checkbox-size) + var(--space-s));
  position: relative;
}

.checkboxes__input {
  --input-offset: calc(
    calc(var(--touch-target-size) - var(--checkbox-size)) / 2
  );
  block-size: var(--touch-target-size);
  cursor: pointer;
  inline-size: var(--touch-target-size);
  inset: calc(var(--input-offset) * -1);
  margin: 0;
  opacity: 0;
  position: absolute;
  z-index: 1;
}

.checkboxes__label {
  --label-font: var(--font-body);
  align-items: center;
  cursor: pointer;
  min-block-size: var(--checkbox-size);
  touch-action: manipulation; /* remove 300ms pause on mobile */

  /* [ ] Checkbox */
  &::before {
    background: transparent;
    block-size: var(--checkbox-size);
    border: var(--input-border-width) solid var(--color-outline);
    border-radius: var(--border-radius-small);
    content: "";
    inline-size: var(--checkbox-size);
    inset: 0;
    position: absolute;
  }

  /* ✔ Check */
  &::after {
    background: transparent;
    block-size: calc(var(--check-size) / 2);
    border: solid;
    border-block-start-color: transparent;
    border-width: 0 0 var(--input-border-width) var(--input-border-width);
    content: "";
    inline-size: var(--check-size);
    inset-block-start: calc(
      calc(var(--checkbox-size) - var(--check-size)) / 1.5
    );
    inset-inline-start: calc(
      calc(var(--checkbox-size) - var(--check-size)) / 2
    );
    opacity: 0;
    position: absolute;
    transform: rotate(-45deg);
  }
}

/* Focused state */
.checkboxes__input:focus-visible + .checkboxes__label::before {
  border-color: var(--color-on-background);
  border-width: var(--input-border-width-focus);
  box-shadow: 0 0 0 var(--focus-width) var(--color-focus);
  outline: var(--focus-width) solid transparent;
  outline-offset: var(--border-width-thin);
}

@media screen and (forced-colors: active) {
  .checkboxes__input:focus-visible + .checkboxes__label::before {
    outline-color: Highlight;
  }
}

/* Selected state */
.checkboxes__input:checked + .checkboxes__label::after {
  opacity: 1;
}

/* Disabled state */
.checkboxes__input:disabled,
.checkboxes__input:disabled + .checkboxes__label {
  cursor: default;
}

.checkboxes__input:disabled + .checkboxes__label,
.checkboxes__input:disabled ~ .hint {
  opacity: 0.5;
}

.checkboxes__hint {
  display: block;
  margin-block-start: 0;
}

/* Divider (‘or’) */
.checkboxes__divider {
  inline-size: var(--checkbox-size);
  margin-block-end: var(--checkbox-size);
  text-align: center;
}

.fieldset.checkboxes__fieldset {
  & .fieldset__legend {
    margin-block-end: var(--space-2xs);
  }

  & .checkboxes {
    margin-block-start: var(--space-xs);
  }
}

/* Conditonal reveals */
.checkboxes__conditional {
  --input-border-halved: calc(var(--input-border-width) / 2);
  border-inline-start: var(--input-border-width) solid var(--color-outline);
  margin-inline-start: calc(
    calc(var(--checkbox-size) / 2) - var(--input-border-halved)
  );
  padding-inline-start: calc(var(--space-l) + var(--input-border-halved));
}
