.footer {
  background-color: var(--color-neutral-lightest);
  color: var(--color-neutral-dark);
  display: flex;
  justify-content: flex-end;
}

.footer__container {
  @extend %container;

  --container-padding-block: var(--step-0);
}

.footer__navigation {
  margin-inline-start: calc(var(--space-inline) * -1);
}

.footer a {
  padding: var(--inset-small-squished);
}
