.footer {
  background-color: var(--color-offset);
  color: var(--color-neutral-dark);
  display: flex;
  justify-content: flex-end;
}

.footer__container {
  @extend %container;

  display: flex;
  justify-content: space-between;
}

.footer__navigation {
  margin-inline-end: calc(var(--space-inline) * -1);
  margin-inline-start: calc(var(--space-inline) * -1);
}

.footer__navigation a {
  display: inline-block;
  padding: var(--inset-small-squished);
}

.footer__logo {
  display: block;
  padding: var(--inset-small-squished);
}

.footer__logo img {
  block-size: var(--size-root);
  opacity: 0.5;
}

.footer__logo:hover img {
  opacity: 0.75;
}
