.app {
  background-color: var(--color-offset);
  color: var(--color-text);
  display: flex;
  flex-direction: column;
  font-family: var(--font-family-system);
  justify-content: space-between;
}

.app--minimalui {
  --container-max-inline-size: 36rem;
}

.app--minimalui .header,
.app--minimalui .main {
  background-color: transparent;
}

.app--minimalui .header__container,
.app--minimalui .footer__container {
  align-items: center;
  inline-size: auto;
}

.app--minimalui .main {
  flex: 0;
  margin: auto;
  overflow: hidden;
}

.app--minimalui .article,
.app--minimalui .form {
  background-color: var(--color-background);
  border-radius: var(--border-radius-large);
}
