.main-content {
  h1:first-child {
    font-weight: 800;
  }

  blockquote {
    border-left: 2px solid $grey-lt-300;
    margin: $sp-6 0;
    padding-left: $sp-3;

    .anchor-heading {
      display: none;
    }
  }

  blockquote.information {
    border-left-color: $purple-000;
  }

  blockquote.important {
    border-left-color: $red-200;
  }

  // https://github.com/pmarsceill/just-the-docs/issues/734
  a {
    white-space: normal;
  }
}

div.language-bash,
div.language-bash code {
  background-color: $grey-dk-300;
  color: $grey-lt-300;
}

div.language-bash .nb {
  color: $grey-lt-000;
}


div.language-bash code:last-of-type:before {
  color: lighten($purple-000, 20%);
  content: '$ ';
}

div.language-bash .token {
  color: var(--color-neutral-lightest);
  font-weight: normal;
}
