.banner {
  background-color: var(--color-neutral-lightest);
  margin-block-start: calc(var(--border-width-thin) * -1);
}

.banner--error {
  background-color: var(--color-error);
}

.banner--success {
  background-color: var(--color-success);
}

.banner__container {
  @extend %container;
}

.banner__body {
  @extend %caption;

  align-items: baseline;
  display: flex;
}

/* Inverse text color with dark scheme to retain legiblility */
@media (prefers-color-scheme: dark) {
  .banner__body {
    color: var(--color-neutral-lightest);
  }
}

.banner__text {
  flex: 1 1 auto;
}

.banner__text a {
  color: inherit;
}
