.banner {
  background-color: var(--color-neutral-lightest);
  margin-block-start: calc(var(--border-width-thin) * -1);
}

.banner--success {
  background-color: var(--color-success);
}

.banner__container {
  @extend %container;
}

.banner__body {
  @extend %caption;

  align-items: baseline;
  display: flex;
}

.banner__icon {
  flex: 0 0 auto;
  margin-inline-end: var(--space-inline);
}

.banner__text {
  flex: 1 1 auto;
}
