/*
 * Embedded content
 * ================
 * https://html.spec.whatwg.org/#embedded-content
 */

svg {
  display: block;
}

iframe,
img,
embed,
object {
  block-size: auto;
  display: block;
  max-inline-size: 100%;
  page-break-inside: avoid;
}

@media (prefers-color-scheme: dark) {
  :not([data-color-scheme]) img {
    filter: brightness(0.8) contrast(1.2);
  }
}

[data-color-scheme="dark"] img {
  filter: brightness(0.8) contrast(1.2);
}
