/*
 * Grouping content
 * ================
 * https://w3c.github.io/html/grouping-content
 */

hr {
  border: 0;
}

pre {
  hanging-punctuation: none;
  hyphens: none;
  tab-size: 2;
  white-space: pre;
}

p,
dl,
ol,
ul,
address,
figure,
blockquote {
  margin: 0;
  orphans: 2;
  widows: 2;
}

ol,
ul {
  padding-inline-start: var(--flow-inset, 0);
}

[role="list"] {
  list-style: none;
  padding: 0;
}

dd {
  margin-inline-start: var(--flow-inset, 0);
}
