/*
 * Sections
 * ========
 * https://w3c.github.io/html/sections
 */

/* 1. Prevent font size adjustment on orientation change in iOS. */
:root {
  background-color: var(--color-offset);
  block-size: -webkit-fill-available;
  scroll-behavior: smooth;
  text-size-adjust: 100%; /* 1 */
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

:focus {
  @extend %focus;
}

*::-moz-focus-inner {
  border: 0;
}

::selection {
  background-color: var(--color-highlight);
}

body {
  color: var(--color-text);
  display: flex;
  flex-direction: column;
  font-family: var(--font-family-system);
  margin: 0;
  min-block-size: 100vh;
  min-block-size: -webkit-fill-available;
}

h1,
h2,
h3,
h4,
h5,
h6,
legend {
  break-after: avoid;
  font-size: inherit;
  font-weight: inherit;
  margin: 0;
  text-rendering: optimizeLegibility;
}
