/*
 * Tablular data
 * =============
 * https://w3c.github.io/html/tabular-data
 */

table {
  border-spacing: 0;
  break-inside: avoid;
  font-size: inherit;
  font-variant-numeric: tabular-nums;
}

tr {
  break-inside: avoid;
}

td,
th {
  text-align: start;
  vertical-align: top;
}

thead th {
  font-weight: bold;
}

tbody th {
  font-weight: normal;
}
