/*
 * Tabular data
 * =============
 * https://html.spec.whatwg.org/#tables
 */

table {
  border-spacing: 0;
  break-inside: avoid;
  font-size: inherit;
  font-variant-numeric: tabular-nums;
}

tr {
  break-inside: avoid;
}

td,
th {
  text-align: start;
  vertical-align: top;
}

thead th {
  font-weight: 600;
}

tbody th {
  font-weight: normal;
}
