/*
 * Text-level semantics
 * ====================
 * https://w3c.github.io/html/textlevel-semantics
 */

a {
  color: var(--color-anchor, inherit);
  text-decoration: var(--anchor-decoration, none);
  text-decoration-color: var(--color-anchor-decoration);
}

a:hover {
  color: var(--color-anchor-hover, inherit);
  text-decoration-color: currentColor;
  text-decoration-thickness: 0.1em;
}

/* Reset font size for smallprint/legal text */
small {
  font-size: 100%;
}

/* Correct text decoration in Chrome/Edge/IE/Opera/Safari */
abbr[title] {
  text-decoration: none;
}

/* Prevent `sub` and `sup` from affecting line height */
sub,
sup {
  font-size: 80%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  inset-block-end: -0.25em;
}

sup {
  inset-block-start: -0.5em;
}

code,
samp,
var {
  font-family: var(--font-family-monospace);
  font-size: 1rem;
  font-variant-numeric: tabular-nums;
  hanging-punctuation: none;
  -webkit-font-smoothing: antialiased;
}

del {
  color: var(--color-delete);
  background-color: var(--color-background-delete);
}

ins {
  color: var(--color-insert);
  background-color: var(--color-background-insert);
  text-decoration: none;
}

mark {
  background-color: var(--color-selection);
}
