/*
 * Text-level semantics
 * ====================
 * https://w3c.github.io/html/textlevel-semantics
 */

a {
  color: var(--anchor-color, currentcolor);
  text-decoration-color: var(--anchor-decoration-color, currentcolor);
  text-decoration-line: var(--anchor-decoration-line, underline);
  text-decoration-thickness: var(--text-thickness);
  text-underline-offset: calc(var(--text-thickness) * 2);
}

a:hover {
  color: var(--anchor-color-hover, var(--color-on-background));
  text-decoration-color: currentcolor;
  text-decoration-thickness: calc(var(--text-thickness) * 2);
  text-underline-offset: calc(var(--text-thickness) * 2);
}

/* Correct text decoration in Chrome/Edge/IE/Opera/Safari */
abbr[title] {
  text-decoration: none;
}

cite {
  font-style: normal;
}

/* Prevent `sub` and `sup` from affecting line height */
sub,
sup {
  font-size: 80%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

samp {
  font-family: inherit;
  font-weight: 500;
}

strong {
  font-weight: 600;
}

sub {
  inset-block-end: -0.25em;
}

sup {
  inset-block-start: -0.5em;
}

footer time {
  font-family: var(--font-family-monospace);
  letter-spacing: -0.025em;
  word-spacing: -0.25em;
}

code,
var {
  font-family: var(--font-family-monospace);
  font-variant-numeric: tabular-nums;
}

mark {
  background-color: var(--color-selection);
}
