/*
 * Text-level semantics
 * ====================
 * https://w3c.github.io/html/textlevel-semantics
 */

a {
  color: var(--anchor-color, inherit);
  text-decoration-color: var(--anchor-decoration-color, currentColor);
  text-decoration-line: var(--anchor-decoration-line, underline);
  text-decoration-thickness: 0.0625em;
  text-underline-offset: 0.125em;
}

a:hover {
  color: var(--anchor-color-hover, inherit);
  text-decoration-color: currentColor;
  text-decoration-thickness: 0.125em;
  text-underline-offset: 0.0625em;
}

/* Correct text decoration in Chrome/Edge/IE/Opera/Safari */
abbr[title] {
  text-decoration: none;
}

/* Prevent `sub` and `sup` from affecting line height */
sub,
sup {
  font-size: 80%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

strong {
  font-weight: 600;
}

sub {
  inset-block-end: -0.25em;
}

sup {
  inset-block-start: -0.5em;
}

code,
samp,
var {
  font-family: var(--font-family-monospace);
  font-variant-numeric: tabular-nums;
}

mark {
  background-color: var(--color-selection);
}
