.select {
  -webkit-appearance: none;
  appearance: none;
  background-color: var(--color-background);
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32'%3E%3Cpath fill='%23000' d='M0 8h32L16 24z'/%3E%3C/svg%3E");
  background-position: right 0.75em top 50%, 0 0;
  background-repeat: no-repeat, repeat;
  background-size: 0.75em auto, 100%;
  block-size: 3rem;
  border: var(--border-width-thick) solid var(--color-outline);
  border-radius: var(--border-radius-small);
  inline-size: 100%;
  padding-block: calc(var(--space-s) / 2);
  padding-inline: var(--space-s);
}

@media (prefers-color-scheme: dark) {
  .select {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32'%3E%3Cpath fill='%23fff' d='M0 8h32L16 24z'/%3E%3C/svg%3E");
  }
}

.select::-ms-expand {
  display: none;
}

.select:focus {
  border-color: var(--color-outline-variant);
}

.select--error {
  border-color: var(--color-error);
}
