.bookmarklet {
  --anchor-color: var(--color-text);
  --anchor-decoration-line: none;
  background-color: var(--color-neutral-lightest);
  border: var(--border-width-thin) solid var(--color-neutral-light);
  border-radius: var(--border-radius-small);
  display: inline-block;
  font: var(--font-caption);
  padding-block: calc(var(--space-s) / 2);
  padding-inline: var(--space-s);
  white-space: nowrap;
}

.bookmarklet:hover {
  border-color: var(--color-neutral);
}
