.bookmarklet {
  --anchor-color: var(--color-on-background);
  --anchor-decoration-line: none;
  background-color: var(--color-offset);
  border: var(--border-width-thin) solid var(--color-outline-variant);
  border-radius: var(--border-radius-small);
  display: inline-block;
  font: var(--font-caption);
  padding-block: calc(var(--space-s) / 2);
  padding-inline: var(--space-s);
  white-space: nowrap;
}

.bookmarklet:hover {
  background-color: var(--color-offset-variant);
  border-color: currentcolor;
}
