.notification {
  background-color: var(--color-neutral-lightest);
  margin-block-start: calc(var(--border-width-thin) * -1);
}

.notification--error {
  background-color: var(--color-error);
}

.notification--success {
  background-color: var(--color-success);
}

.notification__container {
  @extend %container;

  align-items: baseline;
  display: flex;
  gap: var(--space-inline);
}

.notification__title {
  @extend %subhead;
}

.notification__text {
  @extend %caption;
}

/* Inverse text color with dark scheme to retain legibility */
@media (prefers-color-scheme: dark) {
  .notification__body {
    color: var(--color-neutral-lightest);
  }
}

.notification__text {
  flex: 1 1 auto;
}

.notification__text a {
  color: inherit;
}
