.notification {
  --anchor-color: currentcolor;
  background-color: var(--color-offset-variant);
  color: var(--color-on-offset);
}

.notification--error {
  background-color: var(--color-error);
  color: var(--color-on-error);
}

.notification--success {
  background-color: var(--color-success);
  color: var(--color-on-success);
}

.notification__container {
  align-items: baseline;
  display: flex;
  gap: var(--space-s);
  inline-size: var(--container-inline-size);
  margin-inline: auto;
  max-inline-size: var(--container-max-inline-size);
  padding-block: var(--space-m);
  padding-inline: var(--space-l);
}

.notification__title {
  font: var(--font-subhead);
}

.notification__text {
  flex: 1 1 auto;
  font: var(--font-caption);
}
