.details {
  background-color: var(--color-offset);
  border-radius: var(--border-radius-large);
  padding-block: var(--space-m);
  padding-inline: var(--space-l);
}

.details__summary {
  cursor: pointer;
  font: var(--font-label);
  margin-block: calc(var(--space-xs) * -1);
  margin-inline: calc(var(--space-m) * -1);
  padding-block: var(--space-xs);
  padding-block: calc(calc(var(--space-m) / 2) - var(--input-border-width));
  padding-inline: var(--space-m);

  &:focus-visible {
    color: currentcolor;
  }
}

.details__main {
  margin-block: var(--space-s);
}
