.radios {
  --radio-size: 1.5em;
  --check-size: calc(var(--radio-size) / 4);
  --touch-target-size: 44px;
}

@media (--from-medium-viewport) {
  .radios--inline {
    display: flex;
    gap: var(--space-xl);
  }
}

.radios__item {
  display: block;
  margin-block-end: var(--space-m);
  min-block-size: var(--radio-size);
  padding-inline-start: calc(var(--radio-size) + var(--space-s));
  position: relative;

  &:last-child {
    margin-block-end: 0;
  }
}

.radios__input {
  --input-offset: calc(calc(var(--touch-target-size) - var(--radio-size)) / 2);
  block-size: var(--touch-target-size);
  cursor: pointer;
  inline-size: var(--touch-target-size);
  inset: calc(var(--input-offset) * -1);
  margin: 0;
  opacity: 0;
  position: absolute;
  z-index: 1;
}

.radios__label.label {
  --label-font: var(--font-body);
  align-items: center;
  cursor: pointer;
  margin-block-end: 0;
  min-block-size: var(--radio-size);
  touch-action: manipulation; /* remove 300ms pause on mobile */

  /* ( ) Ring */
  &::before {
    background: transparent;
    block-size: var(--radio-size);
    border: var(--input-border-width) solid var(--color-outline);
    border-radius: 50%;
    content: "";
    inline-size: var(--radio-size);
    inset: 0;
    position: absolute;
  }

  /* • Button */
  &::after {
    background: currentcolor;
    block-size: 0;
    border: var(--check-size) solid currentcolor;
    border-radius: 50%;
    content: "";
    inline-size: 0;
    inset-block-start: var(--check-size);
    inset-inline-start: var(--check-size);
    opacity: 0;
    position: absolute;
  }
}

/* Focused state */
.radios__input:focus-visible + .radios__label::before {
  border-color: var(--color-on-background);
  border-width: var(--input-border-width-focus);
  box-shadow: 0 0 0 var(--focus-width) var(--color-focus);
  outline: var(--focus-width) solid transparent;
  outline-offset: var(--border-width-thin);
}

@media screen and (forced-colors: active) {
  .radios__input:focus-visible + .radios__label::before {
    outline-color: Highlight;
  }
}

/* Selected state */
.radios__input:checked + .radios__label::after {
  opacity: 1;
}

/* Disabled state */
.radios__input:disabled,
.radios__input:disabled + .radios__label {
  cursor: default;
}

.radios__input:disabled + .radios__label,
.radios__input:disabled ~ .hint {
  opacity: 0.5;
}

.radios__hint {
  display: block;
  margin-block-start: 0;
}

/* Divider (‘or’) */
.radios__divider {
  inline-size: var(--radio-size);
  margin-block-end: var(--radio-size);
  text-align: center;
}

/* Conditonal reveals */
.radios__conditional {
  --input-border-halved: calc(var(--input-border-width) / 2);
  border-inline-start: var(--input-border-width) solid var(--color-outline);
  margin-inline-start: calc(
    calc(var(--radio-size) / 2) - var(--input-border-halved)
  );
  padding-inline-start: calc(var(--space-l) + var(--input-border-halved));
}
