.icon {
  display: inline-block;
  margin-inline-end: var(--space-inline);
  vertical-align: text-bottom;
  block-size: 1em;
  inline-size: 1em;
  position: relative;
  inset-block-start: -1px;
}

.icon--rounded {
  border-radius: var(--border-radius-small);
}
