.icon {
  block-size: var(--icon-size, 1em);
  display: inline-block;
  flex-shrink: 0;
  inline-size: var(--icon-size, 1em);
  inset-block-start: -0.0625em;
  margin-inline-end: var(--icon-margin, var(--space-xs));
  position: relative;
  vertical-align: middle;
}

.icon--rounded {
  border-radius: var(--border-radius-small);
}
