.main {
  background-color: var(--color-background);
  flex: 1;
}

.main__container {
  inline-size: var(--container-inline-size);
  margin-inline: auto;
  max-inline-size: var(--container-max-inline-size);
  padding: var(--space-l);
}

.main__container * + * {
  margin-block-start: var(--flow-space, var(--space-l));
}
