/* webfont-marker-begin */
@font-face {
  font-family: mona-sans;
  font-stretch: 75% 125%;
  font-weight: 200 900;
  src: url("/mona-sans.woff2") format("woff2 supports variations"),
    url("/mona-sans.woff2") format("woff2-variations");
}
/* webfont-marker-end */

:root {
  --neutral-h-s: 224deg 10%;
  --brand-h-s: 270deg 100%;

  --vp-c-brand-darker: hsl(var(--brand-h-s) 10%);
  --vp-c-brand-dark: hsl(var(--brand-h-s) 30%);
  --vp-c-brand: hsl(var(--brand-h-s) 40%);
  --vp-c-brand-light: hsl(var(--brand-h-s) 70%);
  --vp-c-brand-lighter: hsl(var(--brand-h-s) 90%);

  --vp-c-text-code: var(--vp-c-text-light-2);
  --vp-c-text-dark-1: var(--vp-c-white);
  --vp-c-text-dark-2: hsl(var(--neutral-h-s) 75%);
  --vp-c-text-dark-3: hsl(var(--neutral-h-s) 90%);
  --vp-c-text-light-1: var(--vp-c-black);
  --vp-c-text-light-2: hsl(var(--neutral-h-s) 25%);
  --vp-c-text-light-3: hsl(var(--neutral-h-s) 10%);

  --vp-font-family-base: mona-sans, sans-serif;
}

.dark {
  --vp-c-brand: #b9f;
  --vp-c-text-code: var(--vp-c-text-dark-2);
}

/* Home page */
.name,
.text,
.title {
  font-stretch: ultra-expanded;
}

/* Documentation */
.vp-doc {
  font-size: 1.125em;
  font-weight: 425;
  line-height: 1.6;
}

.vp-doc a:hover {
  text-decoration: underline;
  text-decoration-style: solid;
}

.vp-doc h4 {
  margin-top: 32px;
}

.vp-doc h4 code {
  margin-left: -6px;
}

/* Custom block */
.vp-doc .custom-block h3:first-of-type {
  margin-top: 8px;
}

/* Client icon */
.vp-doc .client-icon {
  float: right;
  height: 96px;
  margin-left: 24px;
  width: 96px;
}

/* Markdown footnotes */
.vp-doc .footnote-ref {
  line-height: 0;
}

.vp-doc .footnotes-sep {
  margin: 48px 0 16px;
}

/* Markdown heading anchors */
.vp-doc .heading-anchor {
  color: var(--vp-c-text-1);
  font-weight: inherit;
  position: relative;
}

.vp-doc .heading-anchor:hover {
  color: var(--vp-c-text-1);
}

.vp-doc .heading-anchor:hover::after {
  color: var(--vp-c-gray);
  content: "#";
  font-size: 20px;
  font-weight: normal;
  left: -20px;
  position: absolute;
  width: 20px;
}

/* Markdown task list */
.vp-doc .contains-task-list {
  list-style: none;
  padding-left: 0;
}

.vp-doc .task-list-item {
  padding-left: 28px;
  position: relative;
}

.vp-doc .task-list-item-checkbox {
  appearance: none;
  background-color: var(--vp-c-bg-soft-mute);
  border-radius: 4px;
  font-size: 20px;
  height: 20px;
  left: 0;
  margin: 0;
  position: absolute;
  top: 2px;
  width: 20px;
}

.vp-doc .task-list-item-checkbox:checked {
  background: var(--vp-c-green);
  color: var(--vp-c-white);
}

.vp-doc .task-list-item-checkbox::before {
  content: "×";
  font-size: 0.75em;
  font-weight: bold;
  height: 20px;
  line-height: 18px;
  position: absolute;
  text-align: center;
  width: 20px;
}

.vp-doc .task-list-item-checkbox:checked::before {
  content: "✓";
}

/* Sponsor icon */
.vp-doc .sponsor a {
  display: block;
}

.vp-doc .sponsor img {
  float: left;
  margin-right: 8px;
}
