@font-face {
  font-family: mona-sans;
  font-stretch: 75% 125%;
  font-weight: 200 900;
  src:
    url("/mona-sans.woff2") format("woff2 supports variations"),
    url("/mona-sans.woff2") format("woff2-variations");
}

:root {
  --vp-font-family-base: mona-sans, sans-serif;
  --vp-home-hero-name-color: var(--vp-c-brand-2);

  --vp-c-indigo-1: hsl(270deg 100% 20%);
  --vp-c-indigo-2: hsl(270deg 100% 40%);
  --vp-c-indigo-3: hsl(270deg 100% 60%);
  --vp-c-indigo-soft: hsl(270deg 100% 40% / 0.1);
}

.dark {
  --vp-c-indigo-1: hsl(270deg 100% 80%);
  --vp-c-indigo-2: hsl(270deg 100% 70%);
  --vp-c-indigo-3: hsl(270deg 100% 60%);
}

/* Home page */
.name,
.text,
.title {
  font-stretch: ultra-expanded;
}

/* Documentation */
.vp-doc {
  font-size: 1.125em;
  font-weight: 425;
  line-height: 1.6;
}

/* Headings */
.vp-doc h3 {
  margin-top: 48px;
}

.vp-doc h3 code {
  background: none;
  font-size: inherit;
  padding: 0;
}

.vp-doc h4 {
  font-size: inherit;
  margin-top: 24px;
}

/* Definition lists */
.vp-doc dl dl {
  border-left: 1px solid var(--vp-c-divider);
  padding-left: 16px;
}

.vp-doc dd {
  margin-left: 16px;
  margin-top: 8px;
}

.vp-doc dt {
  font-weight: 500;
  margin-top: 16px;
}

/* Markdown footnotes */
.vp-doc .footnote-ref {
  line-height: 0;
}

.vp-doc .footnotes-sep {
  margin: 48px 0 16px;
}

/* Markdown heading anchors */
.vp-doc .heading-anchor {
  color: var(--vp-c-text-1);
  font-stretch: ultra-expanded;
  font-weight: inherit;
  position: relative;
  text-decoration: none;
}

.vp-doc .heading-anchor:hover::after {
  content: "#";
  font-size: 20px;
  font-weight: normal;
  left: -20px;
  position: absolute;
  width: 20px;
}

/* Markdown task list */
.vp-doc .contains-task-list {
  list-style: none;
  padding-left: 0;
}

.vp-doc .task-list-item {
  padding-left: 28px;
  position: relative;
}

.vp-doc .task-list-item-checkbox {
  appearance: none;
  background-color: var(--vp-c-gray-2);
  border-radius: 4px;
  font-size: 20px;
  height: 20px;
  left: 0;
  margin: 0;
  position: absolute;
  top: 2px;
  width: 20px;
}

.vp-doc .task-list-item-checkbox:checked {
  background: var(--vp-c-green-2);
  color: var(--vp-c-white);
}

.vp-doc .task-list-item-checkbox::before {
  content: "×";
  font-size: 0.75em;
  font-weight: bold;
  height: 20px;
  line-height: 18px;
  position: absolute;
  text-align: center;
  width: 20px;
}

.vp-doc .task-list-item-checkbox:checked::before {
  content: "✓";
}

/* Icon */
.vp-doc .icon {
  float: right;
  height: 96px;
  margin-left: 24px;
  width: 96px;
}

/* Sponsor */
.vp-doc .sponsor a {
  display: block;
}

.vp-doc .sponsor img {
  float: left;
  margin-right: 8px;
}
