{% extends "form.njk" %}

{% block fieldset %}
{% call addAnother({
  name: "thing",
  fieldset: {
    legend: "Things"
  }
}) %}
  {{ input({
    errorMessage: { text: "Add another input error" } if errors,
    name: "add-another-input[0]",
    label: "Add another input",
    hint: "Add another hint"
  }) | indent(2) }}
{% endcall %}

{{ input({
  errorMessage: { text: "Input error" } if errors,
  name: "input",
  label: "Input",
  hint: "Input hint text"
}) }}

{{ input({
  errorMessage: { text: "Readonly input error" } if errors,
  name: "input-readonly",
  label: "Readonly input",
  hint: "Readonly input hint text",
  attributes: {
    readonly: true
  }
}) }}

{{ input({
  errorMessage: { text: "File input error" } if errors,
  type: "file",
  name: "input-file",
  label: "File input",
  hint: "File input hint text"
}) }}

{{ input({
  errorMessage: { text: "Color input error" } if errors,
  type: "color",
  name: "input-color",
  label: "Color input",
  hint: "Color input hint text"
}) }}

{{ input({
  errorMessage: { text: "Date input error" } if errors,
  type: "datetime-local",
  name: "input-datetime",
  label: "Date input",
  hint: "Date input hint text"
}) }}

{{ textarea({
  errorMessage: { text: "Textarea input error" } if errors,
  name: "textarea",
  label: "Textarea",
  hint: "Textarea hint text"
}) }}

{{ textarea({
  errorMessage: { text: "Readonly textarea input error" } if errors,
  name: "textarea-readonly",
  label: "Readonly textarea",
  hint: "Readonly textarea hint text",
  attributes: {
    readonly: true
  }
}) }}

{{ geoInput({
  errorMessage: { text: "Geo input error" } if errors,
  name: "geo-input",
  label: "Geo input",
  hint: "Geo input hint text"
}) }}

{{ tagInput({
  errorMessage: { text: "Tag input error" } if errors,
  name: "tag-input",
  localisation: {
    tag: "category",
    tags: "categories"
  },
  label: "Tag input",
  hint: "Tag input hint text",
  value: ["foo", "bar"]
}) }}

{{ tagInput({
  errorMessage: { text: "Disabled tag input error" } if errors,
  name: "tag-input-disabled",
  label: "Disabled tag input",
  hint: "Disabled tag input hint text",
  attributes: {
    disabled: "true"
  },
  value: ["foo", "bar"]
}) }}

{{ select({
  errorMessage: { text: "Select error" } if errors,
  label: "Post types",
  hint: "Select hint text",
  name: "select",
  items: [{
    text: "Article",
    value: "article"
  }, {
    text: "Note",
    value: "note",
    selected: true
  }, {
    text: "Photo",
    value: "photo"
  }]
}) }}

{{ checkboxes({
  errorMessage: { text: "Checkboxes error" } if errors,
  fieldset: {
    legend: "Checkboxes"
  },
  hint: "Checkboxes hint text",
  name: "checkboxes",
  items: [{
    label: "Internet Archive",
    value: "https://web.archive.org/",
    hint: "https://web.archive.org/"
  }, {
    label: "Mastodon",
    value: "https://mastodon.example/@username",
    hint: "https://mastodon.example/@username",
    checked: true
  }]
}) }}

{{ checkboxes({
  errorMessage: { text: "Conditional checkboxes error" } if errors,
  fieldset: {
    legend: "Conditional checkboxes"
  },
  hint: "Conditional checkboxes hint text",
  name: "conditional-checkboxes",
  items: [{
    label: "First checkbox option",
    value: "first"
  }, {
    label: "Second checkbox option",
    value: "second",
    checked: true,
    conditional: input({
      errorMessage: { text: "Second checkbox option input error" } if errors,
      name: "conditional-checkboxes-input",
      label: "Second checkbox option input",
      hint: "Second checkbox option input hint text"
    })
  }, {
    label: "None",
    value: "none",
    behaviour: "exclusive"
  }]
}) }}

{{ radios({
  errorMessage: { text: "Radios error" } if errors,
  fieldset: {
    legend: "Radios"
  },
  hint: "Radios hint text",
  name: "radios",
  items: [{
    label: "Internet Archive",
    value: "https://web.archive.org/",
    hint: "https://web.archive.org/"
  }, {
    label: "Mastodon",
    value: "https://mastodon.example/@username",
    hint: "https://mastodon.example/@username",
    checked: true
  }]
}) }}

{{ radios({
  inline: true,
  errorMessage: { text: "Inline radios error" } if errors,
  fieldset: {
    legend: "Inline radios"
  },
  hint: "Inline radios hint text",
  name: "inline-radios",
  items: [{
    label: "Yes",
    value: "true"
  }, {
    label: "No",
    value: "false"
  }]
}) }}

{{ radios({
  errorMessage: { text: "Conditional radios error" } if errors,
  fieldset: {
    legend: "Conditional radios"
  },
  hint: "Conditional radios hint text",
  name: "conditional-radios",
  items: [{
    label: "First radio option",
    value: "first"
  }, {
    label: "Second radio option",
    value: "second",
    checked: true,
    conditional: input({
      errorMessage: { text: "Second radio option input error" } if errors,
      name: "conditional-radios-input",
      label: "Second radio option input",
      hint: "Second radio option input hint text"
    })
  }]
}) }}

{% call fieldset({
  classes: "fieldset--group",
  legend: "Fieldset group"
}) %}
  {{ input({
    errorMessage: { text: "Fieldset group input 1 error" } if errors,
    name: "fieldset-group-input-1",
    label: "Fieldset group input 1"
  }) }}

  {{ input({
    errorMessage: { text: "Fieldset group input 2 error" } if errors,
    name: "fieldset-group-input-2",
    label: "Fieldset group input 2"
  }) }}
{% endcall %}

{{ button({
  text: "Submit for errors"
}) }}
{% endblock %}