{% extends "form.njk" %}

{% block fieldset %}
{{ input({
  errorMessage: { text: "Input error" } if errors,
  name: "input",
  label: {
    text: "Input"
  },
  hint: "Input hint text"
}) }}

{{ input({
  errorMessage: { text: "Readonly input error" } if errors,
  name: "input-readonly",
  label: {
    text: "Readonly input"
  },
  hint: "Readonly input hint text",
  attributes: {
    readonly: true
  }
}) }}

{{ input({
  errorMessage: { text: "File input error" } if errors,
  type: "file",
  name: "input-file",
  label: {
    text: "File input"
  },
  hint: "File input hint text"
}) }}

{{ input({
  errorMessage: { text: "Color input error" } if errors,
  type: "color",
  name: "input-color",
  label: {
    text: "Color input"
  },
  hint: "Color input hint text"
}) }}

{{ input({
  errorMessage: { text: "Date input error" } if errors,
  type: "datetime-local",
  name: "input-datetime",
  label: {
    text: "Date input"
  },
  hint: "Date input hint text"
}) }}

{{ textarea({
  errorMessage: { text: "Textarea input error" } if errors,
  name: "textarea",
  label: {
    text: "Textarea"
  },
  hint: "Textarea hint text"
}) }}

{{ textarea({
  errorMessage: { text: "Readonly textarea input error" } if errors,
  name: "textarea-readonly",
  label: {
    text: "Readonly textarea"
  },
  hint: "Readonly textarea hint text",
  attributes: {
    readonly: true
  }
}) }}

{{ geoInput({
  errorMessage: { text: "Geo input error" } if errors,
  name: "geo-input",
  label: {
    text: "Geo input"
  },
  hint: "Geo input hint text"
}) }}

{{ tagInput({
  errorMessage: { text: "Tag input error" } if errors,
  name: "tag-input",
  localisation: {
    tag: "category",
    tags: "categories"
  },
  label: {
    text: "Tag input"
  },
  hint: "Tag input hint text",
  value: ["foo", "bar"]
}) }}

{{ tagInput({
  errorMessage: { text: "Disabled tag input error" } if errors,
  name: "tag-input-disabled",
  label: {
    text: "Disabled tag input"
  },
  hint: "Disabled tag input hint text",
  attributes: {
    disabled: "true"
  },
  value: ["foo", "bar"]
}) }}

{{ select({
  errorMessage: { text: "Select error" } if errors,
  label: {
    text: "Post types"
  },
  hint: "Select hint text",
  name: "select",
  items: [{
    text: "Article",
    value: "article"
  }, {
    text: "Note",
    value: "note",
    selected: true
  }, {
    text: "Photo",
    value: "photo"
  }]
}) }}

{{ checkboxes({
  errorMessage: { text: "Checkboxes error" } if errors,
  fieldset: {
    legend: {
      text: "Checkboxes"
    }
  },
  hint: "Checkboxes hint text",
  name: "checkboxes",
  items: [{
    text: "Internet Archive",
    value: "https://web.archive.org/",
    hint: "https://web.archive.org/"
  }, {
    text: "Mastodon",
    value: "https://mastodon.example/@username",
    hint: "https://mastodon.example/@username",
    checked: true
  }]
}) }}

{{ radios({
  errorMessage: { text: "Radios error" } if errors,
  fieldset: {
    legend: {
      text: "Radios"
    }
  },
  hint: "Radios hint text",
  name: "radios",
  items: [{
    text: "Internet Archive",
    value: "https://web.archive.org/",
    hint: "https://web.archive.org/"
  }, {
    text: "Mastodon",
    value: "https://mastodon.example/@username",
    hint: "https://mastodon.example/@username",
    checked: true
  }]
}) }}

{{ button({
  text: "Submit for errors"
}) }}
{% endblock %}