.s-linear {
  --anchor-decoration: underline;
  --color-anchor: var(--color-accent);
  --color-anchor-decoration: var(--color-shadow);
}

@media (prefers-color-scheme: dark) {
  .s-linear a {
    --color-anchor: var(--color-accent-light);
  }
}

.s-linear * + * {
  margin-block-start: var(--flow-space);
}

.s-linear > *:not([class]) {
  word-break: break-word;
}

.s-linear svg {
  vertical-align: text-bottom;
}

.s-linear h2:not([class]) {
  @extend %heading;

  box-shadow: none;
  margin-block-start: calc(var(--flow-space) * 1.5);
  outline: 0;
}

.s-linear h2:not([class]) + * {
  margin-block-start: calc(var(--flow-space) / 2);
}

.s-linear h3:not([class]) {
  @extend %subhead;

  box-shadow: none;
  color: var(--color-neutral-dark);
  margin-block-start: calc(var(--flow-space) * 1.5);
  outline: 0;
}

.s-linear hr:not([class]) {
  margin: calc(var(--flow-space) * 1.5) 0;
  border-block-start: 1px solid var(--color-neutral-light);
  inline-size: 100%;
  max-inline-size: 100%;
}

.s-linear blockquote {
  border-inline-start: var(--border-width-thickest) solid var(--color-shadow);
  color: var(--color-neutral-dark);
  padding-inline-start: var(--space-inline);
}

.s-linear pre {
  background-color: var(--color-neutral-lightest);
  border-radius: var(--border-radius-small);
  font-size: var(--step--1);
  overflow: scroll;
  padding: var(--inset-small);
  word-break: normal;
}

.s-linear code,
.s-linear samp {
  border-radius: var(--border-radius-small);
}

.s-linear code.property {
  font-size: 67%;
  padding: 0;
}

.s-linear table:not([class]) {
  font-size: var(--step--1);
  inline-size: 100%;
  max-inline-size: 100%;
}

.s-linear tbody tr:nth-child(odd) {
  background-color: var(--color-offset);
}

.s-linear td,
.s-linear th {
  padding: var(--inset-small-squished);
}

.s-linear ol:not([class]),
.s-linear ul:not([class]) {
  padding-inline-start: var(--flow-inset);
}

.s-linear ol[class],
.s-linear ul[class] {
  list-style: none;
}

.s-linear ul:not([class]) * + *,
.s-linear ol:not([class]) * + *,
.s-linear dl:not([class]) * + * {
  margin-block-start: calc(var(--flow-space) / 2);
}

.s-linear dt {
  font-weight: 500;
}

.s-linear dd:not([class]) + dt {
  margin-block-start: var(--flow-space);
}

.s-linear .header-anchor {
  color: var(--color-text);
  text-decoration: none;
}

.s-linear .header-anchor:visited {
  color: var(--color-text);
}

.s-linear .header-anchor:hover::after,
.s-linear .header-anchor:focus::after {
  color: var(--color-accent);
  content: "#";
  font-weight: 500;
  margin-left: 0.5ch;
}

.s-linear .header-anchor:focus::before {
  color: var(--color-text);
}

.s-linear .language-bash {
  background-color: var(--color-neutral-darkest);
  color: var(--color-neutral-lightest);
}

.s-linear .language-bash:last-of-type:before,
.s-linear .language-bash br + .token::before {
  color: #c9f;
  content: "$ ";
}

.s-linear .language-bash .token {
  color: var(--color-neutral-lightest);
  font-weight: normal;
}

.s-linear .overflow {
  border: var(--border-width-thin) solid var(--color-offset);
  overflow: auto;
}
