.s-linear {
  --anchor-decoration: underline;
  --color-anchor: var(--color-accent);
  --color-anchor-decoration: var(--color-shadow);
}

@media (prefers-color-scheme: dark) {
  .s-linear a {
    --color-anchor: var(--color-accent-light);
  }
}

.s-linear * + * {
  margin-block-start: var(--flow-space);
}

.s-linear > *:not([class]) {
  max-inline-size: var(--line-measure);
  word-break: break-word;
}

.s-linear svg {
  vertical-align: text-bottom;
}

.s-linear code,
.s-linear samp {
  border-radius: var(--border-radius-small);
}

.s-linear code {
  background-color: var(--color-shadow-offset);
  padding: var(--text-spacing);
}

.s-linear code.property {
  background: none;
  font-size: 67%;
  padding: 0;
}

.s-linear h2:not([class]) {
  @extend %heading;

  margin-block-start: calc(var(--flow-space) * 2);
}

.s-linear h2:not([class]) + * {
  margin-block-start: calc(var(--flow-space) / 2);
}

.s-linear h3:not([class]) {
  @extend %subhead;

  color: var(--color-neutral-dark);
  margin-block-start: calc(var(--flow-space) * 1.5);
}

.s-linear blockquote {
  border-inline-start: var(--border-width-thickest) solid var(--color-shadow);
  color: var(--color-neutral-dark);
  padding-inline-start: var(--space-inline);
}

.s-linear pre {
  background-color: var(--color-neutral-lightest);
  border-radius: var(--border-radius-small);
  overflow: scroll;
  padding: var(--inset-small-squished);
  word-break: normal;
}

.s-linear pre code {
  background-color: transparent;
  padding: 0;
}

.s-linear table {
  font-size: var(--step--1);
  inline-size: 100%;
  max-inline-size: 100%;
}

.s-linear tbody tr:nth-child(odd) {
  background-color: var(--color-offset);
}

.s-linear td,
.s-linear th {
  padding: var(--inset-small-squished);
  white-space: nowrap;
}

.s-linear ol,
.s-linear ul {
  padding-inline-start: var(--flow-inset);
}

.s-linear ul * + *,
.s-linear ol * + *,
.s-linear dl:not([class]) * + * {
  margin-block-start: calc(var(--flow-space) / 2);
}

.s-linear dt {
  font-weight: 500;
}

.s-linear dd:not([class]) + dt {
  margin-block-start: var(--flow-space);
}

.s-linear .language-bash {
  background-color: var(--color-neutral-darkest);
  color: var(--color-neutral-lightest);
  font-size: 85%;
  line-height: var(--line-height-tight);
}

.s-linear .no-bullets {
  list-style: none;
  padding-inline-start: 0;
}

.s-linear .overflow {
  border: var(--border-width-thin) solid var(--color-offset);
  overflow: auto;
}
