.warning-text {
  align-items: start;
  background-color: var(--color-offset);
  border-radius: var(--border-radius-large);
  display: flex;
  flex-direction: row;
  font: var(--font-label);
  padding: var(--inset-small);
}

.warning-text .icon {
  min-block-size: 2rem;
  min-inline-size: 2rem;
}

.warning-text__text {
  margin-block-start: 0;
}
