.warning-text {
  --icon-margin: var(--space-s);
  --icon-size: 1.5em;
  align-items: start;
  background-color: var(--color-offset);
  border-radius: var(--border-radius-small);
  display: flex;
  flex-direction: row;
  font: var(--font-label);
  padding: var(--space-m);

  & .warning-text__text {
    margin-block-start: var(--space-2xs);
  }
}
