.warning-text {
  align-items: start;
  background-color: var(--color-offset);
  border-radius: var(--border-radius-large);
  display: flex;
  flex-direction: row;
  font: var(--font-label);
  padding: var(--space-m);
}

.warning-text .icon {
  margin-inline-end: var(--space-s);
  min-block-size: 1.5em;
  min-inline-size: 1.5em;
}

.warning-text__text {
  margin-block-start: 0;
}
