.pagination {
  --anchor-color-hover: var(--color-anchor-hover);
  --anchor-decoration-line: none;
  border-block-start: var(--border-width-thin) solid
    var(--color-neutral-lightest);
  font: var(--font-caption);
  padding-block-start: var(--space-s);
}

.pagination__list {
  display: flex;
  margin-inline: calc(var(--space-s) * -1);
}

@media (--upto-medium-viewport) {
  .pagination__item {
    display: none;
  }
}

/* Only show previous, next, first, last and current items on mobile */
@media (--upto-medium-viewport) {
  .pagination__item--current,
  .pagination__item--divider,
  .pagination__item--previous,
  .pagination__item--next,
  .pagination__item:nth-child(2),
  .pagination__item:nth-last-child(2) {
    display: inline-block;
  }
}

.pagination__item--divider {
  font-weight: 500;
  padding-block: calc(var(--space-m) / 2);
  padding-inline: 0;
  pointer-events: none;
}

.pagination__link {
  border-radius: var(--border-radius-small);
  display: block;
  padding-block: calc(var(--space-m) / 2);
  padding-inline: var(--space-m);
}

.pagination__item--current .pagination__link {
  color: var(--color-text);
  font-weight: 600;
}

.pagination__link:hover {
  background-color: var(--color-offset);
}

.pagination__link-title {
  align-items: center;
  display: flex;
  gap: var(--space-s);
}

.pagination__link-title .icon {
  margin-inline: 0;
}

.pagination__item--next .pagination__link-title {
  flex-direction: row-reverse;
}

.pagination__link-label {
  display: block;
}

.pagination__results {
  margin-block-start: var(--space-s);
}

/**
 * Block variant
 * Position previous and next links above and below numbers
 */
.pagination__list--block {
  flex-direction: column;
}

.pagination__list--block .pagination__item--next {
  border-block-start: var(--border-width-thin) solid var(--color-offset);
}

.pagination__list--block .pagination__item--next .pagination__link-title {
  flex-direction: row;
}

.pagination__list--block .pagination__item--next .pagination__link-label,
.pagination__list--block .pagination__item--previous .pagination__link-label {
  padding-inline-start: calc(1em + var(--space-s));
}
