.form {
  @extend %container;
}

.form > * + * {
  margin-block-start: var(--step-1);
}

.form__field * + * {
  margin-block-start: 0.5rem;
}

.form__field--error {
  border-inline-start-color: var(--color-error);
  border-inline-start-style: solid;
  border-inline-start-width: var(--border-width-thickest);
  padding-inline-start: var(--inset-small);
}
