.error-summary {
  border: var(--color-error) solid var(--border-width-thickest);
  border-radius: var(--border-radius-large);
  padding: var(--inset-large);
}

.error-summary__title {
  @extend %label;
}

.error-summary__body {
  @extend %caption;

  --anchor-decoration: underline;
  --color-anchor: var(--color-error);
  --color-anchor-hover: var(--color-error);
  --color-anchor-decoration: hsl(var(--h) var(--s) 0% / 25%);
}

.error-summary__list {
  font-weight: 600;
  margin-block-start: var(--space-block);
}
