.error-summary {
  border-inline-start-color: var(--color-error);
  border-inline-start-style: solid;
  border-inline-start-width: var(--border-width-thickest);
  padding-inline-start: var(--space-inline);
}

.error-summary__title {
  @extend %label;
}

.error-summary__body {
  @extend %caption;

  --anchor-decoration: underline;
  --color-anchor: var(--color-error);
  --color-anchor-hover: var(--color-error);
  --color-anchor-decoration: hsl(var(--h) var(--s) 0% / 25%);
}

.error-summary__list {
  font-weight: 600;
  margin-block-start: var(--space-block);
}
