.textarea {
  border: var(--border-width-thick) solid var(--color-neutral);
  border-radius: var(--border-radius-small);
  padding: var(--inset-small-squished);
  width: 100%;
}

.textarea[readonly] {
  border-color: var(--color-neutral-light);
  color: var(--color-neutral-dark);
}

.textarea--error {
  border-color: var(--color-error);
}
