.textarea {
  background-color: var(--color-background);
  border: var(--border-width-thick) solid var(--color-neutral);
  border-radius: var(--border-radius-small);
  inline-size: 100%;
  margin-block-end: 0;
  padding-block: calc(var(--space-s) / 2);
  padding-inline: var(--space-s);
}

.textarea:focus {
  border-color: var(--color-neutral-dark);
}

.textarea[readonly] {
  border-color: var(--color-neutral-light);
  color: var(--color-neutral-dark);
  resize: none;
}

.textarea[readonly]:focus {
  --color-focus: var(--color-neutral-lightest);
}

.textarea--error {
  border-color: var(--color-error);
}

.textarea--monospace {
  font: var(--font-code);
  font-variant-numeric: tabular-nums;
}
