.textarea {
  background-color: var(--color-background);
  border: var(--border-width-thick) solid var(--color-neutral);
  border-radius: var(--border-radius-small);
  padding: var(--inset-small-squished);
  width: 100%;
}

.textarea:focus {
  @extend %focus;

  border-color: var(--color-neutral-dark);
}

.textarea[readonly] {
  border-color: var(--color-neutral-light);
  color: var(--color-neutral-dark);
}

.textarea[readonly]:focus {
  --color-focus: var(--color-neutral-lightest);
}

.textarea--error {
  border-color: var(--color-error);
}

.textarea--monospace {
  font-family: var(--font-family-monospace);
  font-size: 1rem;
  font-variant-numeric: tabular-nums;
}
