.fieldset {
  @extend %body;

  --flow-space: 0.5rem;

  hanging-punctuation: none;
  /* max-inline-size: var(--line-measure); */
}

.fieldset > * + * {
  margin-block-start: var(--step-1);
}

.fieldset__title {
  @extend %title;
}

.fieldset__parent {
  @extend %body;

  color: var(--color-neutral-dark);
  display: block;
  font-weight: normal;
}
