.fieldset {
  font: var(--font-body);

  & > *:not(.-\!-visually-hidden) + * {
    margin-block-start: var(--space-l);
  }

  & .button + .hint {
    margin-block-start: var(--space-xs);
  }
}

.fieldset__legend {
  font: var(--font-label);
}
