.fieldset {
  @extend %body;

  hanging-punctuation: none;
}

.fieldset__title {
  @extend %title;
}

.fieldset__parent {
  @extend %body;

  color: var(--color-neutral-dark);
  display: block;
  font-weight: normal;
}
