---
date: {{ published }}
{%- if category %}
category:
{%- for item in category %}
- {{ item }}
{%- endfor %}
{%- endif %}
audio:
{%- for item in audio %}
- url: {{ item.value }}
{%- endfor %}
{%- if syndicateTo %}
syndicate-to:
{%- for item in syndicateTo %}
- {{ item }}
{%- endfor %}
{%- endif %}
---
{{ content | safe }}
