<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="/app.css">
    <title>{{ title + " - " if title }}{{ name }}</title>
  </head>
  <body>
    <header>
      <h1>
        <a href="/" rel="home">{% include 'logo.svg' %}{{ name }}</a>
      </h1>
      <p>{{ description }}</p>
    </header>
    <main>
      {% block content %}{% endblock %}
    </main>
    <footer>
      <a href="https://github.com/{{ repository | replace('github:', '.') }}/releases/tag/v{{ version }}">v{{ version }}</a>
    </footer>
  </body>
</html>
