{% extends "default.njk" %}

{% block content %}
<p>This is the <a href="https://www.w3.org/TR/micropub/">Micropub</a> endpoint for <a href="{{ url }}">{{ url | replace('https://', '')}}</a>.</p>
{% endblock %}
