---
title: '{{ title }}'
date: {{ published }}
{%- if summary %}
excerpt: {{ summary }}
{%- endif %}
{%- if category %}
categories:
{%- for item in category %}
- {{ item }}
{%- endfor %}
{%- endif %}
---
{{ content | safe }}
