---
date: {{ published }}
{%- if category %}
category:
{%- for item in category %}
- {{ item }}
{%- endfor %}
{%- endif %}
photo:
{%- for item in photo %}
- url: {{ item.value }}
  alt: {{ item.alt }}
{%- endfor %}
---
{{ content | safe }}
