name: build

on:
  push:
    branches-ignore:
      - dependabot/*
    paths-ignore:
      - docs/**

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [18.x]
        mongodb-version: [4]
    steps:
      - name: Git checkout
        uses: actions/checkout@v3
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}
          cache: "npm"
      - name: Start MongoDB
        uses: supercharge/mongodb-github-action@1.8.0
        with:
          mongodb-version: ${{ matrix.mongodb-version }}
      - name: Download localisations
        uses: localazy/download@v1
        with:
          read_key: ${{ secrets.LOCALAZY_READ_KEY }}
          write_key: ${{ secrets.LOCALAZY_WRITE_KEY }}
      - name: Install packages and symlink local dependencies
        run: |
          npm ci
      - name: Lint code
        run: |
          npm run lint
      - name: Run tests
        env:
          NODE_ENV: test
          SECRET: ${{ secrets.SECRET }}
        run: |
          npm test
