name: publish

on:
  workflow_dispatch:

# Ensure only one release workflow runs at a time
concurrency:
  group: publish
  cancel-in-progress: false

jobs:
  publish:
    runs-on: ubuntu-latest
    if: github.repository == 'getindiekit/indiekit'
    permissions:
      id-token: write # Required for OIDC
      contents: write
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 0
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Configure Git
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "github-actions[bot]@users.noreply.github.com"

      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version-file: package.json
          registry-url: https://registry.npmjs.org

      - name: Download localisations
        uses: localazy/download@v1
        with:
          read_key: ${{ secrets.LOCALAZY_READ_KEY }}
          write_key: ${{ secrets.LOCALAZY_WRITE_KEY }}

      - name: Install dependencies
        run: npm ci --ignore-scripts

      - name: Publish to npm
        run: npx lerna publish --conventional-commits --yes
