.input {
  background-color: var(--color-background);
  border: var(--border-width-thick) solid var(--color-neutral);
  border-radius: var(--border-radius-small);
  padding: var(--inset-small-squished);
  width: 100%;
}

.input:focus {
  @extend %focus;

  border-color: var(--color-neutral-dark);
}

.input[readonly] {
  border-color: var(--color-neutral-light);
  color: var(--color-neutral-dark);
}

.input[readonly]:focus {
  --color-focus: var(--color-neutral-lightest);
}

.input[type="color"] {
  min-block-size: 3rem;
  padding: var(--border-width-thickest);
}

.input[type="color"]::-webkit-color-swatch-wrapper {
  padding: 0;
}

.input--error {
  border-color: var(--color-error);
}

.input--width-30 {
  max-width: 45ch;
}

.input--width-20 {
  max-width: 30ch;
}

.input--width-10 {
  max-width: 15ch;
}

.input--width-5 {
  max-width: 7.5ch;
}

.input--width-2 {
  max-width: 3ch;
}
