.input {
  background-color: var(--color-background);
  border: var(--border-width-thick) solid var(--color-outline);
  border-radius: var(--border-radius-small);
  font: var(--font-body);
  inline-size: 100%;
  padding-block: calc(var(--space-s) / 2);
  padding-inline: var(--space-s);

  &:focus {
    border-color: var(--color-outline-variant);
  }

  &[readonly] {
    background: var(--color-offset);
    color: var(--color-on-offset);
  }

  &[type="color"] {
    min-block-size: 3rem;
    padding: var(--border-width-thickest);
  }

  &[type="color"]::-webkit-color-swatch-wrapper {
    padding: 0;
  }

  &[type="datetime-local"] {
    inline-size: min-content;
  }

  &[type="file"] {
    border: 0;
    padding: 0;
  }
}

.input--error {
  border-color: var(--color-error);
}

.input--width-30 {
  max-width: 45ch;
}

.input--width-20 {
  max-width: 30ch;
}

.input--width-10 {
  max-width: 15ch;
}

.input--width-5 {
  max-width: 7.5ch;
}

.input--width-2 {
  max-width: 3ch;
}
